extends ../../home/views/navbar.pug

block content
  <link rel="stylesheet" type="text/css" href="/loader/style_loader.css">

  <div id="loading"></div>
    <form method="POST" action="rejectstatement" id="form_rejectstatement">
      each problem in tbl_problemstatement
            
        input(type="hidden" value=`${problem.int_statementID}` name="int_statementID" id="int_statementID")
                       
    </form>

  script.
    
    window.onload=function() {
      jQuery(document).ready(function() {
      jQuery('#loading').fadeOut(3500);
      });

      document.getElementById("form_rejectstatement").submit();
    }