/* Style the form */
#regForm {
    background-color: #ffffff;
}
  
/* Style the input fields */
input {
    font-size: 30px;
    border: 1px solid #aaaaaa;
}
  
.btn-outline-info
/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}
  
/* Hide all steps by default: */
.tab {
    display: none;
    text-transform: capitalize;
}
  
/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none; 
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}
  
/* Mark the active step: */
.step.active {
    opacity: 1;
}
  
/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #3B5997;
}

.card-header{
    background-color: #415C78;
    color: whitesmoke;
    text-transform: capitalize;
}
.card-header-proposal{
    background-color: #3299CC;
    color: white;
    text-transform: capitalize;
}
.page-caption-problem{
    background-color: #96B1D2;
    color: whitesmoke;
    opacity: .8;
    text-transform: capitalize;
}
.btn-acknowledgement{
    border-color:#5675A0;
    width:170px;
    height:80px;
}
.tab-upper-field{
    margin-left:3%;
}

.btn-outline-info{
    color:#5675A0;
}

.btn-outline-info:hover{
    color: whitesmoke;
    background-color: #5675A0;
}
.btn-proposal{
    border-color:#415C78;
    width: 95px;
    color: #415C78;
}
.btn-outline-proposal:hover{
    color: whitesmoke;
    background-color: #415C78;
}
#crop-description{
    width: 80%;
    overflow:hidden;
    height:50px;
    line-height:50px;
}