/* Style the form */
#regForm {
    background-color: #ffffff;
}
  
/* Style the input fields */
input {
    font-size: 30px;
    border: 1px solid #aaaaaa;
}
  
/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}
  
/* Hide all steps by default: */
.tab {
    display: none;
    text-transform: capitalize;
}
  
/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none; 
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}
  
/* Mark the active step: */
.step.active {
    opacity: 1;
}
  
/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #4CAF50;
}

.card-header{
    background-color: rgb(59, 86, 138);
    color: whitesmoke;
    text-transform: capitalize;
}

.tab-upper-field{
    margin-left:3%;
}

.btn-outline-info{
    color:#3B5997;
}

.btn-outline-info:hover{
    color: whitesmoke;
    background-color: #3B5997;
}