extends ../../navbar/views/navbar.pug

block content
  <link rel="stylesheet" type="text/css" href="/loader/style_loader.css">

  <div id="loading"></div>
    <form method="POST" action="deleterequirement" id="form_deleterequirement">
      each requirement in tbl_requirement
            
        input(type="hidden" value=`${requirement.int_requirementID}` name="int_requirementID" id="int_requirementID")
                       
    </form>

  script.
    
    window.onload=function() {
      jQuery(document).ready(function() {
      jQuery('#loading').fadeOut(3500);
      });

      document.getElementById("form_deleterequirement").submit();
    }

