extends ../../navbar/views/navbar.pug

block content
  <link rel="stylesheet" type="text/css" href="/loader/style_loader.css">

  <div id="loading"></div>
    <form method="POST" action="deletereleaselocation" id="form_deletelocation">
      each location in tbl_releaselocation
            
        input(type="hidden" value=`${location.int_locationID}` name="int_locationID" id="int_locationID")
                       
    </form>




  script.
    
    window.onload=function() {
      jQuery(document).ready(function() {
      jQuery('#loading').fadeOut(3500);
      });

      document.getElementById("form_deletelocation").submit();
    }

