extends ../../navbar/views/navbar.pug

block content
  <link rel="stylesheet" type="text/css" href="/loader/style_loader.css">

  <div id="loading"></div>
    <form method="POST" action="deleteprojectcategory" id="form_deleteprojectcateg">
      each projcat in tbl_projectcategory
            
        input(type="hidden" value=`${projcat.int_categoryID}` name="int_projectCategID" id="int_projectCategID")
                       
    </form>




  script.
    
    window.onload=function() {
      jQuery(document).ready(function() {
      jQuery('#loading').fadeOut(3500);
      });

      document.getElementById("form_deleteprojectcateg").submit();
    }

