extends ../../home/views/navbar.pug

block content
    <link rel="stylesheet" type="text/css" href="/barangay/css/specificproject.css">
    <!-- page-header -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-caption">
                            <h5 class="page-title" style="color:#3B5997;">PROBLEM STATEMENT</h5>
                            <h3><small>(Create New)</small></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.page-header-->
        <!-- tour-booking -->
        <div class="container">
        <div class="card">
        <div class="card-header">
            <div class="form-row">
                <div class=:col-md-1>
                    <h4 style="color:whitesmoke;">Problem Statement Form</h4>
                </div>
                <div class="col-md-6"></div>
                    <h5 style="color:whitesmoke;margin-left:5%;">Category:</h5>
                    <div class="col-md-2">
                        <select id="probcategory" class="form-control-sm float-right" style="margin:none;color:#5F9EA0">
                            <option>Health</option>
                            <option>Financial</option>
                            <option>Structures</option>
                        </select>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form id="problemform" action="">
                <div class="form-group">
                    <label for="problem_title" style="font-size:18;">Statement Title:<label style="color:red;">*</label></label>
                    <input type="text" class="form-control" id="problem_title" placeholder="Enter the title here ...">
                </div>
                <div class="form-group">
                    <label for="problem_description" style="font-size:18;">Description:<label style="color:red;">*</label></label>
                    <textarea class="form-control" id="problem_category"  placeholder="Enter the description of the problem in here ..." rows="4"></textarea>
                </div>
            <button type="submit" id="submitprob" class="btn btn-outline-info float-right" style="border-color:#3B5997;width:100px;">Submit</button>
            </form>
        </div>
        <div class="card-footer">Date Created:<b class="text-muted"> 06/06/2018</b></div>
        </div>
        </div>
        <!-- /.tour-booking -->