extends ../../home/views/navbar.pug

block content
    <link href="/barangay/styles.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/barangay/css/specificproject.css">
        <!-- page-header -->
        <div class="page-header-problems rounded-bottom ">
            <div class="container rounded-top" id="container-header" >
                <div class="row">
                    <div class="page-caption pb-4 pt-3" style="background-color: #C0C0C0; opacity: .8; ">
                        <p class="page-title font-weight-bold" style="color: ;margin-bottom:0;">PROBLEM STATEMENT</p>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- /.page-header-->
        <!-- tour-booking -->
        <div class="container container-fluid " style="padding-top:1.5%; padding-bottom:1.5%; background-color: white;">
            <div class="card" style="background-color: whitesmoke;">
                <form id="problemform" method="POST" action="new">
                    <div class="card-header" style="background-color: #CCE5FF">
                        <div class="form-row">
                            <div class="col-md-4 pt-3 pl-3">
                                <h4 class=""style="color: #55637A;">Create Problem Statement</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row pl-2" >
                            <div class="col-sm-4 pull-right">
                                <label for="problem_title" style="font-size:18; ">Category<label style="color:red;">*</label></label>
                                <select name="problem_category" id="probcategory" class="form-control" style="margin:none;color:#black" required="required" required>
                                    <option value = "1">Health</option>
                                    <option value = "2">Education</option>
                                    <option value = "3">Finance</option>
                                    <option value = "4">Infrastracture</option>
                                </select>
                            </div>
                            <div class="col-sm-8 pl-4 pr-4">
                                    <label for="problem_title" style="font-size:18;">Statement Title:<label style="color:red;">*</label></label>
                                    <input type="text" class="form-control" name="problem_title" id="problem_title" placeholder="Enter the title here ..." required>  
                            </div>
                            
                        </div>
                        <div class="form-group col-sm-12 pl-2 pr-2">
                                <label for="problem_description" style="font-size:18;">Description:<label style="color:red;">*</label></label>
                                <textarea class="form-control" name="problem_description" id="problem_category"  placeholder="Enter the description of the problem in here ..." rows="4" required></textarea>
                        </div>
                        <button type="submit" id="submitprob" class="btn btn-outline-info mt-4 mb-1 mr-2 float-right" style="border-color:#5675A0;width:100px;">Submit</button>
                        </div>
                        <div class="card-footer ">Date Created:<b class="text-muted" id="problem_created"> </b></div>
                        <input type="hidden" id="problem_createdValue" name="problem_createdValue"> 
                    </div>
                </form>
            </div>
        </div>
        <!-- /.tour-booking -->

        script.
            n =  new Date();
            y = n.getFullYear();
            m = n.getMonth() + 1;
            d = n.getDate();
            document.getElementById("problem_created").innerHTML = + " " + m + "/" + d + "/" + y ;
            
            console.log(y + "-" + m + "-" + d);
            document.getElementById("problem_createdValue").value = y + "-" + m + "-" + d;
            