extends ../../navbar/views/navbar.pug

block content
            <!-- /top navigation -->
                
            <!-- page content -->
            <div class="right_col" role="main">
            
                
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                    <div class="icon"><i class="fa fa-caret-square-o-right"></i></div>
                    <div class="count">7</div>
                    <h3>Current Projects</h3>
                    <p>As of 2018-06-01</p>
                    </div>
                </div>
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                    <div class="icon"><i class="fa fa-paper-plane-o"></i></div>
                    <div class="count">17</div>
                    <h3>New Applications</h3>
                    <p>From last week</p>
                    </div>
                </div>
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                    <div class="icon"><i class="fa fa-envelope"></i></div>
                    <div class="count">1</div>
                    <h3>New Problem Statements</h3>
                    <p>From last week</p>
                    </div>
                </div>
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                    <div class="icon"><i class="fa fa-file"></i></div>
                    <div class="count">0</div>
                    <h3>New Project Proposals</h3>
                    <p>From last week</p>
                    </div>
                </div>
                
            
            </div>