extends ../../navbar/views/navbar.pug

block content
  <link rel="stylesheet" type="text/css" href="/loader/style_loader.css">

  <div id="loading"></div>
    <form method="POST" action="deletetargetbeneficiary" id="form_deletetarget">
      each target in tbl_targetbeneficiary
            
        input(type="hidden" value=`${target.int_beneficiaryID}` name="int_beneficiaryID" id="int_beneficiaryID")
                       
    </form>




  script.
    
    window.onload=function() {
      jQuery(document).ready(function() {
      jQuery('#loading').fadeOut(3500);
      });

      document.getElementById("form_deletetarget").submit();
    }

