extends ../../navbar/views/navbar.pug

block content
  <link rel="stylesheet" type="text/css" href="/loader/style_loader.css">

  <div id="loading"></div>
    <form method="POST" action="deleteproblemcategory" id="form_deleteproblemcateg">
      each probcat in tbl_problemcategory
            
        input(type="hidden" value=`${probcat.int_problemCategID}` name="int_problemCategID" id="int_problemCategID")
                       
    </form>




  script.
    
    window.onload=function() {
      jQuery(document).ready(function() {
      jQuery('#loading').fadeOut(3500);
      });

      document.getElementById("form_deleteproblemcateg").submit();
    }

