extends ../../home/views/navbar.pug

block content
    //- <!-- page content -->
    <div class="right_col" role="main">
    <div class="x_panel">
        <h1>Office - Awards</h1>
    </div>
    </div>