extends ./navbar.pug

block content
    <link href="/barangay/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="/minicalendar/minicalendar.css" type="text/css">
        <!-- page-header -->
        <div class="page-header ">
            <div class="container" id="container-header" >
                <div class="row">
                    <div class="page-caption">
                        <p style="color: #3B5997;">Barangay Buli</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.page-header-->
        <!-- tour-booking -->
        <div class="content" style="padding-top:1.5%;">
            <div class="container" >
                <div class="row ">
                    <!-- footer-logo -->
                    <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-12 mb30">
                        <div class="tour-booking-form"style="background-color: #FDFDEE;margin-top:2%;">
                            <form>
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                        <h4 class="tour-form-title">Announcement</h4>
                                    </div>
                                    
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="form-group">
                                            <label class="control-label" for=""></label>
                                            <input id="announcements" type="text" placeholder="Your barangay was awarded as..." class="form-control"disabled>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 "style="padding-left:550px;">
                                        <button type="submit" name="singlebutton" class="btn btn-primary" >Read</button>
                                    </div>
                                    
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt30">
                                        <h4 class="tour-form-title">Latest Project</h4>
                                    </div>
                                    <div class="lat-proj">
                                        <h5 class="lat-proj-title">Educational Assistance </h6>
                                        <p class="lat-proj-det">All students that are currently enrolled in high school and college are invited to apply for scholarship program. All you need is to comply the following requirements: </p>
                                        <ul class="lat-proj-req">
                                            <li>Indigency</li>
                                            <li>Certificate of enrollment/Registration Card</li>
                                            <li>Latest Grades</li>
                                            <li>For 18years old below you'll need your parents consent
                                        </ul>
                                    </div>

                                </div>
                                </form>
                        </div>
                        
                    </div>
                    
                    <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-12 ">
                        <div class="widget-primary support-list" style="background-color: white; border-style: solid;margin-top:5%;">
                            <div class="widget-primary-title">
                                <h3>Reminders</h3>
                            </div>
                            <ul class="list-group">
                                <li>
                                    <h5 class="releasing-date">September 15, 2018</h5>
                                    <ul class="arrow list-none">
                                        <li class="_beneficiary">Jillmarie</li>
                                    </ul>   
                                </li>
                                <li>
                                    <h5 class="releasing-date">September 30, 2018</h5>
                                    <ul class="arrow list-none">
                                        <li class="_beneficiary">Abigail</li>
                                        <li class="_beneficiary">Maricar</li>
                                    </ul>   

                                </li>
                            </ul>
                            
                        </div>
                            <link href="/minicalendar/dist/vanillaCalendar.css" rel="stylesheet">
                                style.

                                    a,
                                    a:visited {
                                        color: #0A9297;

                                    h1 {
                                        text-align: center;
                                    }
                                    .demo-picked {
                                        font-size: 1.2rem;
                                        text-align: center;
                                    }

                                   
                                </style>
                            </head>
                            

                                    <div id="v-cal">
                                        <div class="vcal-header">
                                            <button class="vcal-btn" data-calendar-toggle="previous">
                                                <svg height="24" version="1.1" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path>
                                                </svg>
                                            </button>

                                            <div class="vcal-header__label" data-calendar-label="month">
                                            
                                            </div>


                                            <button class="vcal-btn" data-calendar-toggle="next">
                                                <svg height="24" version="1.1" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="vcal-week">
                                            <span>Mon</span>
                                            <span>Tue</span>
                                            <span>Wed</span>
                                            <span>Thu</span>
                                            <span>Fri</span>
                                            <span>Sat</span>
                                            <span>Sun</span>
                                        </div>
                                        <div class="vcal-body" data-calendar-area="month"></div>
                                    </div>

                                    <p class="demo-picked">
                                    </p>
                 
                            <script src="/minicalendar/dist/vanillaCalendar.js" type="text/javascript"></script>
                            script.
                                    window.addEventListener('load', function () {
                                        vanillaCalendar.init({
                                            disablePastDays: true
                                        });
                                    })                    
                    </div>
                </div>
            </div>
        </div>
        
    <!-- /.tour-booking -->