extends ./navbar.pug

block content
    <!-- page-header -->
        <div class="page-header ">
            <div class="container "  >
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-caption">
                            <h1 class="page-title"style="color: #3B5997">Barangay 1</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.page-header-->
        <!-- tour-booking -->
        <div class="content" style="padding-top:20px;">
            <div class="container">
                <div class="row ">
                    <!-- footer-logo -->
                    <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-12 mb30">
                        <div class="tour-booking-form"style="background-color: #FDFDEE;">
                            <form>
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                        <h4 class="tour-form-title">Announcement</h4>
                                    </div>
                                    
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="form-group">
                                            <label class="control-label" for=""></label>
                                            <input id="announcements" type="text" placeholder="Your barangay was awarded as..." class="form-control"disabled>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 "style="padding-left:550px;">
                                        <button type="submit" name="singlebutton" class="btn btn-primary" >Read</button>
                                    </div>
                                    
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt30">
                                        <h4 class="tour-form-title">Latest Project</h4>
                                    </div>
                                    <div class="lat-proj">
                                        <h5 class="lat-proj-title">Educational Assistance </h6>
                                        <p class="lat-proj-det">All students that are currently enrolled in high school and college are invited to apply for scholarship program. All you need is to comply the following requirements: </p>
                                        <ul class="lat-proj-req">
                                            <li>Indigency</li>
                                            <li>Certificate of enrollment/Registration Card</li>
                                            <li>Latest Grades</li>
                                            <li>For 18years old below you'll need your parents consent
                                        </ul>
                                    </div>

                                </div>
                                </form>
                        </div>
                        
                    </div>
                    
                    <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-12 ">
                        <div class="widget-primary support-list" style="background-color: white; border-style: solid;">
                            <div class="widget-primary-title">
                                <h3>Releasing</h3>
                            </div>
                            <ul class="list-group">
                                <li>
                                    <h5 class="releasing-date">September 15, 2018</h5>
                                    <ul class="arrow list-none">
                                        <li class="_beneficiary">Jillmarie</li>
                                    </ul>   
                                </li>
                                <li>
                                    <h5 class="releasing-date">September 30, 2018</h5>
                                    <ul class="arrow list-none">
                                        <li class="_beneficiary">Abigail</li>
                                        <li class="_beneficiary">Maricar</li>
                                    </ul>   

                                </li>
                            </ul>
                            
                        </div>
                    
                        <div class="widget-primary support-list bg-secondary" >
                            <h3 class="widget-default-title">Barangay Awards</h3>
                             <img src="public/landing/images/trophy.jpg" alt="" class="img-fluid">
    
                            <p style="color:#90AFC5">Most Active Barangay</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    <!-- /.tour-booking -->


    