extends ./navbar.pug

block content
        <!-- STATISTIC-->
        <section class="statistic">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                //- START OF CONTENT
                <h1>BARANGAY - HOME</h1>
                //- END OF CONTENT  
            </div>
        </div>
        </section>
        <!-- END STATISTIC-->