extends ../../../../templates/master.pug

block body
    <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- jquery ui  -->
    <link rel="stylesheet" type="text/css" href="/landing/css/jquery-ui.css">
    <!-- Style CSS -->
    <script src="/assets/jquery/jquery-3.2.1.slim.min.js"></script>
    <link href="/landing/css/style.css" rel="stylesheet">
    <link href="/barangay/styles.css" rel="stylesheet">
    <!-- date-tables -->
    <link href="/cityadmin/vendors/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    
    <script src="/cityadmin/vendors/datatables/jquery.dataTables.js"></script>

    <script src="/cityadmin/vendors/datatables/dataTables.bootstrap4.js"></script>

    <script src="/cityadmin/build/js/sb-admin-datatables.min.js"></script>

    </head>

    <!-- header-section-->
    <div class="wrapper ">
        <div class="header-wrapper ">
                <div class="">
                    <nav class="navbar navbar-fixed-top navbar-dark bg-dark navbar-expand-xl ">
                        <div class="container-fluid">
                            <a class="navbar-brand pull-left" href="/barangay/home"><h2 style="color: white"><b>City</b><strong style="color: #669BC8">Pro</strong></h2></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" >
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse " id="navbar-Nav">
                                <ul class="navbar-nav nav-pills ml-auto font-weight-bold">
                                    <img class="mr-5" src="/icons/embassy.png">
                                </ul>
                            </div>
                            <div class="collapse navbar-collapse " id="navbar-Nav">
                                <ul class="navbar-nav nav-pills ml-auto font-weight-bold">
                                    <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Projects</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="/barangay/projects/applications">Apply/Register an Applicant</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="/barangay/projects/beneficiaries">Applicant Registered</a>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Problem Statement</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="/barangay/problemstatement/new">New Problem Statement</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="/barangay/problemstatement/previous">Previous Submitted</a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/barangay/releasing">Releasing</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/barangay/calendar">Calendar</a>                                        
                                    </li>
                                    <li class="nav-item dropdown mr-4">
                                        <button class="dropbut dropdown-toggle"  type="button" id="menu1" data-toggle="dropdown">
                                            <img src="/icons/user.png">
                                        <span class="caret"></span>
                                        </button>
                                        each barangay in barangay_info
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                                <div class="dropdown-prof-text">
                                                <i class ="fa fa-file-text-o" style="margin-right:3%;"></i>Barangay Name:
                                                <span class="profile-details-right">
                                                    <small>
                                                    value=barangay.varchar_barangayName
                                                    </small>
                                                </span>
                                                <br><i class ="fa fa-user-circle-o" style="margin-right:2%;"></i>Brgy Chairman:
                                                <span class="profile-details-right">
                                                    <small>
                                                    value=barangay.varchar_barangayChairman
                                                    </small>
                                                </span>
                                                <br><i class ="fa fa-drivers-license-o" style="margin-right:2%;"></i>Contact No#:
                                                <span class="profile-details-right">
                                                    <small>
                                                    value=barangay.varchar_barangayContact
                                                    </small>
                                                </span>
                                                <br>
                                                <a href="/barangay/profile" style="margin-left:72%;">More ...</a>
                                                </div>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="/barangay/reports">Reports</a>
                                                <a class="dropdown-item" href="/barangay/awards">Awards</a>
                                                <a class="dropdown-item" href="/logout">Logout</a>
                                            </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>  
                </div>
        </div>
       
    <!-- /. header-section-->

    block content

    <footer>
        <br>
            <div style="text-align: center;background-color: #cccccc;">
                <div class="">
                    <p>© 2018. Polytechnic University of the Philippines, BSIT 4-3 Batch 2018-2019. All rights reserved. </p>
                </div>
            </div>
    </footer>


    <a href="javascript:" id="return-to-top"><i class="fa fa-angle-up"></i></a>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/landing/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/landing/js/bootstrap.min.js"></script>
    <!-- jQuery -->
    <script src="/cityadmin/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/cityadmin/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="/cityadmin/build/js/custom.min.js"></script>
    <script src="/cityadmin/vendors/datatables/dataTables.bootstrap4.js"></script>
    <script src="/cityadmin/build/js/sb-admin-datatables.min.js"></script>
    <script src="/cityadmin/build/js/sb-admin-charts.min.js"></script>
    <script src="/cityadmin/vendors/chart.js/Chart.min.js"></script>
    <script src="/cityadmin/vendors/datatables/jquery.dataTables.js"></script>
    <script src="/cityadmin/vendors/datatables/dataTables.bootstrap4.js"></script>
    <script src="/landing/js/menumaker.js"></script>
    <script src="/landing/js/jquery.sticky.js"></script>
    <script src="/landing/js/sticky-header.js"></script>
    <script src="/landing/js/jquery-ui.js"></script>
    <script src="/landing/js/date.js"></script>
    <script src="/landing/js/return-to-top.js"></script>
    
