extends ../../home/views/navbar.pug

block content
    //- <!-- page content -->
    <div class="right_col" role="main">
        <h1>Barangay - Registered Applicants</h1>
            
    </div>

            