extends ../../home/views/navbar.pug

block content
    <div class="right_col" role="main">
        <div class="">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        each project in tbl_project
                            <center>
                                <h1>APPLICATION FORM</h1>
                                <h5>Type of Application: Household</h5>
                                <h4>
                                    value=project.varchar_projectName
                                </h4>
                                <small>
                                    value="(" + project.text_projectObjective + ")"
                                </small>
                            </center>
                        
                        <div class="clearfix"></div>
                    </div>
                    <form method="POST" action="apply/household">
                        <div class="x_content">
                            <div class="form-row">
                                    <div class="form-group col-md-4 col-sm-12">
                                        <label for="ap-famname" class="form-control-label">Family Name:</label>
                                            <input type="text" id="ap-famname" name="apply_famname" placeholder="Type here ..." class="names col-sm-11 form-control ">
                                    </div>
                                    <div class="form-group col-md-6 col-sm-12">
                                        <label for="ap-famaddress" class="form-control-label">Home Address:</label>
                                            <input type="text" id="ap-famaddress" name="apply_famaddress" placeholder="Type here ..." class="names col-sm-11 form-control ">
                                    </div>
                                    <div class="form-group col-md-2 col-sm-12">
                                    <label for="ap-fname" class="form-control-label">House Status:</label>
                                    <select name ="apply_famhouse" class="form-control">
                                        <option value = "Owned">Owned</option>
                                        <option value = "Rent">Rent</option>
                                        <option value = "Rent to own">Rent to own</option>
                                        <option value = "Squater">Squater</option>
                                    </select>
                                    </div>
                                
                            </div>
                            <br>
                            <hr>
                    
                            <div>
                                <button id="btnAddAddress" class="btn btn-primary btn-md" type="button" style="float:right;">Add Family Member</button>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div class="table-responsive">
                                <table id="datatable-fixed-header expenseTable" class="table">
                                    <tbody>
                                        <tr>
                                            <th width="15%">First Name</th>
                                            <th width="15%">Last Name</th>
                                            <th width="15%">Middle Name</th>
                                            <th width="15%">Civil Status</th>
                                            <th width="20%">Educational Attainment<br><small>(Highest)</small></th>
                                            <th width="20%">Occupation</th>
                                        </tr>
                                        <tr class="family-row familyCounter">
                                            <td><input type="text" name="famfname[]" class="form-control" style="width:100%"/></td>
                                            <td><input type="text" name="famlname[]" class="form-control" style="width:100%"/></td>
                                            <td><input type="text" name="fammname[]" class="form-control" style="width:100%"/></td>
                                            <td>
                                                <select name ="famcivil[]" class="form-control" style="width:100%">
                                                    <option value = "Single">Single</option>
                                                    <option value = "Married">Married</option>
                                                    <option value = "Widowed">Widowed</option>
                                                    <option value = "Divorce/Separated">Divorce/Separated</option>
                                                </select>
                                            </td> <td><input type="text" name="fameduc[]" class="form-control" style="width:100%"/></td>
                                            <td><input type="text" name="famoccu[]" class="form-control" style="width:100%" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <hr>
                            
                            <div><button id="btnAddContributor" class="btn btn-primary btn-md" type="button" style="float:right;">Add Financial Contributor</button></div>
                            <br>
                            <br>    
                            <br>
                                <div class="table-responsive">
                                    <table id="datatable-fixed-header expenseTable" class="table">
                                        <tbody>
                                            <tr>
                                                <th width="30%">Purpose of Financial Contribution<br><small> (e.g. educational assistance)</small></th>
                                                <th width="15%">Relationship</th>
                                                <th width="15%">Frequency of Contribution</th>
                                                <th width="15%">Annual Contribution</th>
                                            </tr>
                                            <tr class="contributor-row contributorCounter">
                                                <td><input type="text" name="famconpurpose[]" class="form-control" style="width:100%" /></td>
                                                <td><input type="text" name="famconrel[]" class="form-control" style="width:100%" /></td>
                                                <td>
                                                    <select class="form-control" name="famconfrequency[]" class="form-control" style="width:100%">
                                                        <option value="Monthly">Monthly</option>
                                                        <option value="Quarterly">Quarterly</option>
                                                        <option value="Semi Annual">Semi Annual</option>
                                                        <option value="Annual">Annual</option>
                                                        <option value="Irregular">Irregular</option>
                                                    </select>
                                                </td>
                                                <td><input type="number" name="famconannual[]" class="financial-contributor form-control" style="width:100%" /></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div style="float:right;">
                                    <label style="font-weight:bold;font-size:19;">TOTAL: </label><span>&nbsp<input type="number" id="totalIncome" name="apply_famincome" readonly/></span>
                                </div>
                            
                            <br>
                            <hr>
                            <div><button class="btn btn-success btn-lg" type="submit" style="float:right;">Register</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    //- SCRIPT FOR TABS
    script.
        var familyCounter = 1;
        var contributorCounter = 1;

        $(document).ready(function(){

            //- TABLE ADD FAMILY
            $(document).on('click', '#btnAddAddress', function(){
                familyCounter++;
                var fieldHTML = '<tr class="family-row familyCounter"><td><input type="text" name="famfname[]" class="form-control" style="width:100%"/></td><td><input type="text" name="famlname[]" class="form-control" style="width:100%"/></td><td><input type="text" name="fammname[]" class="form-control" style="width:100%"/></td><td><select name ="famcivil[]" class="form-control" style="width:100%"><option value = "Single">Single</option><option value = "Married">Married</option><option value = "Widowed">Widowed</option><option value = "Divorce/Separated">Divorce/Separated</option></select></td> <td><input type="text" name="fameduc[]" class="form-control" style="width:100%"/></td><td><input type="text" name="famoccu[]" class="form-control" style="width:100%" /></td></tr>';
                $('body').find('.family-row:last').after(fieldHTML);
            });
            //- END OF TABLE ADD FAMILY

            //- TABLE ADD FINANCIAL CONTRIBUTOR
            $(document).on('click', '#btnAddContributor', function(){
                contributorCounter++;
                var fieldHTML = '<tr class="family-row contributorCounter"><td><input type="text" name="famconpurpose[]" class="form-control" style="width:100%" /></td><td><input type="text" name="famconrel[]" class="form-control" style="width:100%" /></td><td><select class="form-control" name="famconfrequency[]" class="form-control" style="width:100%"><option value="Monthly">Monthly</option><option value="Quarterly">Quarterly</option><option value="Semi Annual">Semi Annual</option><option value="Annual">Annual</option><option value="Irregular">Irregular</option></select></td><td><input type="number" name="famconannual[]" class="financial-contributor form-control" style="width:100%" /></td></tr>';
                $('body').find('.contributor-row:last').after(fieldHTML);
            });
            //- END OF ADD FINANCIAL CONTRIBUTOR

            $(document).on('change', '.financial-contributor', function() {
                console.log('Change Detected');
                //- var beneQuan = [];
                var contrib = [];
                var totalAmount = 0;

                //- $(".ap-benefitquantity").each(function() {
                //-     beneQuan.push($(this).val());
                //- });

                $(".financial-contributor").each(function() {
                    contrib.push($(this).val());
                });

                for(var i = 0 ; i < contrib.length ; i++) {

                    totalAmount += contrib[i];
                    console.log(totalAmount);
                    
                    //- var n= (beneQuan[i]*beneUPrice[i]).toString().split(".");
                    //- n[0] = n[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    var m= totalAmount.toString().split(".");
                    m[0] = m[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");

                    
                    //- $(".benefitAmount").eq(i).val(beneQuan[i]*beneUPrice[i]);
                    //- $(".benefitAmounts").eq(i).val("PHP "+n.join("."));

                    
                    //- if(isNaN(beneQuan[i]*beneUPrice[i])){
                    //-     $(".benefitAmounts").eq(i).value("0.00");
                    //-     console.log("NaN detected");
                    //- }
                    //- else {
                    //-     $(".benefitAmounts").eq(i).val(n.join("."));
                    //- }

                    $("#totalIncome").val(totalAmount);
                    //- $("#totBeneBudgets").val("PHP "+m.join("."));
                }
            });
        });