extends ../../home/views/navbar.pug

block content
    <div class="right_col" role="main">
        <div class="">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        each project in tbl_project
                            <center>
                                <h1>APPLICATION FORM</h1>
                                <h5>Type of Application: Household</h5>
                                <h4>
                                    value=project.varchar_projectName
                                </h4>
                                <small>
                                    value="(" + project.text_projectObjective + ")"
                                </small>
                            </center>
                        
                        <div class="clearfix"></div>
                    </div>
                    <form method="POST" action="apply/household">
                        <div class="x_content">
                            <div class="form-row">
                                    <div class="form-group col-md-4 col-sm-12">
                                        <label for="ap-famname" class="form-control-label">Family Name:</label>
                                            <input type="text" id="ap-famname" name="apply_famname" placeholder="Type here ..." class="names col-sm-11 form-control ">
                                    </div>
                                    <div class="form-group col-md-6 col-sm-12">
                                        <label for="ap-famaddress" class="form-control-label">Home Address:</label>
                                            <input type="text" id="ap-famaddress" name="apply_famaddress" placeholder="Type here ..." class="names col-sm-11 form-control ">
                                    </div>
                                    <div class="form-group col-md-2 col-sm-12">
                                    <label for="ap-fname" class="form-control-label">House Status:</label>
                                    <select name ="apply_famhouse" class="form-control">
                                        <option value = "Owned">Owned</option>
                                        <option value = "Rent">Rent</option>
                                        <option value = "Rent to own">Rent to own</option>
                                        <option value = "Squater">Squater</option>
                                    </select>
                                    </div>
                                
                            </div>
                            <br>
                            <hr>
                    
                            <div>
                                <button id="btnAddAddress" class="btn btn-primary btn-md" type="button" style="float:right;">Add Family Member</button>
                            </div>
                            <table id="tbl" class="table table-borderless table-data3" style="">
                                <thead>
                                        <tr>
                                            <th>First Name</th>
                                            <th>Lastname Name</th>
                                            <th>Middle Name</th>
                                            <th>Civil Status</th>
                                            <th>Educational Attainment<br><small>(Highest)</small></th>
                                            <th>Occupation</th>
                                        </tr>
                                </thead>
                            </table>
                            <div id ="idcontent">

                            </div>
                            <br>
                            <hr>
                            
                            <div><button id="btnAddContributor" class="btn btn-primary btn-md" type="button" style="float:right;">Add Financial Contributor</button></div>
                            
                            <table id="tbl1" class="table table-borderless table-data3" style="table-layout:fixed;width:100%;">
                                <thead>
                                        <tr>
                                            <th>Purpose of Financial Contribution<br><small> (e.g. educational assistance)</small></th>
                                            <th>Relationship</th>
                                            <th>Frequency of Contribution</th>
                                            <th>Annual Contribution</th>
                                        </tr>
                                </thead>
                            </table>
                            <div>
                                <div id ="fincontribution">
                                    
                                </div>
                                <div style="float:right;">
                                    <label style="font-weight:bold;font-size:19;">TOTAL: </label><span>&nbsp<input type="number" name="apply_famincome" readonly/></span>
                                </div>
                            </div>
                            <br>
                            <hr>
                            <div><button class="btn btn-success btn-lg" type="submit" style="float:right;">Register</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    //- SCRIPT FOR TABS
    script.
        $(document).ready(function(){
            $("#btnAddAddress").click(function () {
                $("#idcontent").append('<tbody><tr><td><input type="text" name="famfname" /></td><td><input type="text" name="famlname" /></td><td><input type="text" name="fammname" /></td><td><select name ="famcivil" class="form-control"><option value = "Single">Single</option><option value = "Married">Married</option><option value = "Widowed">Widowed</option><option value = "Divorce/Separated">Divorce/Separated</option></select></td> <td><input type="text" name="fameduc" /></td><td><input type="text" name="famoccu" /></td></tr></tbody>  ');
            });

            $("#btnAddContributor").click(function () {
                $("#fincontribution").append('<tbody><tr><td><input type="text" name="famconpurpose" /></td><td><input type="text" name="famconrel" /></td><td><select class="form-control" name="famconfrequency"><option value="Monthly">Monthly</option><option value="Quarterly">Quarterly</option><option value="Semi Annual">Semi Annual</option><option value="Annual">Annual</option><option value="Irregular">Irregular</option></select></td><td><input type="text" name="famconannual" /></td></tr></tbody>');
            });
        });