extends ../../home/views/navbar.pug

block content
    <div class="right_col" role="main">
        <div class="">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        each project in tbl_project
                            <center>
                                <h1>APPLICATION FORM</h1>
                                <h5>Type of Application: Household</h5>
                                <h4>
                                    value=project.varchar_projectName
                                </h4>
                                <small>
                                    value="(" + project.text_projectObjective + ")"
                                </small>
                            </center>
                        
                        <div class="clearfix"></div>
                    </div>
                        <div class="x_content">
                            <table id="tbl" class="table table-borderless table-data3" style="table-layout:auto;width:100%;">
                                <thead>
                                    <tr>
                                        <th>Relative's Name</th>
                                        <th>Relationship</th>
                                        <th>Civil Status</th>
                                        <th>Educational Attainment</th>
                                        <th>Occupation</th>
                                        <th>Worker Class</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="text" name="famname" /></td>
                                        <td><input type="text" name="famrel" /></td> 
                                        <td>
                                            <select name ="famcivil">
                                                <option value = "Single">Single</option>
                                                <option value = "Married">Married</option>
                                                <option value = "Widowed">Widowed</option>
                                                <option value = "Divorce/Separated">Divorce/Separated</option>
                                                <option value = "Unknown">Unknown</option>
                                            </select>
                                        </td>  
                                        <td><input type="text" name="fameduc" /></td>  
                                        <td><input type="text" name="famoccu" /></td>  
                                        <td>
                                            <select name ="famclass">
                                                <option value = "Works for private household">Works for private household</option>
                                                <option value = "Works for private establishment">Works for private establishment</option>
                                                <option value = "Works for government agency/corporation">Works for government agency/corporation</option>
                                                <option value = "Self-employed without any employee">Self-employed without any employee</option>
                                                <option value = "Employer in own family-operated farm/business">Employer in own family-operated farm/business</option>
                                                <option value = "Works with pay on own family-operated farm/business">Works with pay on own family-operated farm/business</option>
                                                <option value = "Works withoyt pay on own family-operated farm/business">Works withoyt pay on own family-operated farm/business</option>
                                                <option value = "Unemployed">Unemployed</option>
                                            </select>
                                        </td>  
                                        <td><input type="submit" value="Add another" onclick="addField(this);" /></td>          
                                        <td><input type="submit" value="Remove" onclick="deleteField(this);" /></td>          
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>
    </div>

    //- SCRIPT FOR TABS
    script.
        function addField(n)
            {
            var tr = n.parentNode.parentNode.cloneNode(true);
            document.getElementById('tbl').appendChild(tr);
            }
        function deleteField(src) {
            var row = src.parentNode.parentNode;
            row.parentNode.removeChild(row);
        }