extends ../../home/views/navbar.pug

block content
    <div class="right_col" role="main">
        <div class="">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        each project in tbl_project
                            <center>
                                <h1>APPLICATION FORM</h1>
                                <h5>Type of Application: Resident</h5>
                                <h4>
                                    value=project.varchar_projectName
                                </h4>
                                <small>
                                    value="(" + project.text_projectObjective + ")"
                                </small>
                            </center>
                        
                        <div class="clearfix"></div>
                    </div>
                    <form id="regForm" action="apply/resident" method="POST" class="form-horizontal form-label-left">
                        <div class="x_content">
                            <!-- Smart Wizard -->

                            <div id="wizard" class="form_wizard wizard_horizontal">
                                <ul class="wizard_steps">
                                    <li>
                                        <a href="#basicinfotab">
                                            <span class="step_no">1</span>
                                            <span class="step_descr"> Step 1<br />
                                                <small>Basic Information</small>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#requirement">
                                            <span class="step_no">2</span>
                                            <span class="step_descr"> Step 2<br />
                                                <small>Check Requirements</small>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#summary">
                                            <span class="step_no">3</span>
                                            <span class="step_descr"> Step 3<br />
                                                <small>Summary of Application</small>
                                            </span>
                                        </a>
                                    </li>
                                </ul>

                                <div class="tab" id="basicinfotab">
                                    <hr/>
                                    <h3>BASIC PERSONAL INFORMATION</h3>
                                    <div class="form-row">
                                        <div class="form-group col-md-4 col-sm-12">
                                            <label for="ap-fname" class="form-control-label"><strong>First</strong> Name:<span style="color:red;"> *</span></label>
                                                <input type="text" id="ap-fname" onchange="getfname()" name="apply_fname" placeholder="Applicant's First name ..." class="names col-sm-11 form-control ">
                                        </div>
                                        <div class="form-group col-md-4 col-sm-12">
                                            <label for="ap-lname" class="form-control-label"><strong>Last</strong> Name:<span style="color:red;"> *</span></label>
                                                <input type="text" id="ap-lname" onchange="getlname()" name="apply_lname" placeholder="Applicant's Last name ..." class="names col-sm-11 form-control ">
                                        </div>
                                        <div class="form-group col-md-4 col-sm-12">
                                            <label for="ap-mname" class="form-control-label"><strong>Middle</strong> Name</label>
                                                <input type="text" id="ap-mname" onchange="getmname()" name="apply_mname" placeholder="Applicant's Middle name ..." class="middle col-sm-11 form-control ">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-2 col-sm-12">
                                            <label for="ap-birthdate" class="form-control-label"><strong>Birthdate:</strong><span style="color:red;"> *</span></label>
                                                <input type="date" id="ap-birthdate" onchange="getbirthdate()" name="apply_birthdate" placeholder="Birthdate" class="col-sm-11 form-control ">
                                        </div>
                                        <div class="form-group col-md-2 col-sm-12">
                                            <label for="ap-birthdate" class="form-control-label"><strong>Age:</strong></label>
                                                <div type="number" id="ap-age" name="apply_age" placeholder="Age" class="col-sm-11 form-control " readonly></div>
                                        </div>
                                        <div class="form-group col-md-3 col-sm-12">
                                            <label for="ap-number" class="form-control-label"><strong>Contact Number:</strong><span style="color:red;"> *</span></label>
                                                <input type="text" id="ap-number" onchange="getcontact()" name="apply_contact" data-inputmask="'mask' : '(+63) 999-999-9999'" class="col-sm-11 form-control ">
                                        </div>
                                        <div class="form-group col-md-5 col-sm-12">
                                            <label for="ap-email" class="form-control-label"><strong>Email Address:</strong><span style="color:red;"> *</span></label>
                                                <input type="email" id="ap-email" onchange="getemail()" name="apply_emailaddress" placeholder="(ex: abc@gmail.com)" class="col-sm-11 form-control ">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-2 col-sm-12">
                                            <label for="ap-gender" class="control-label"><strong>Gender:</strong><span style="color:red;"> *</span></label>
                                            <div class="form-check form-check-inline" id="ap-gender" >
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" onchange="getgender1()" value="Male" name="apply_gender" id="ap-gender1"> Male
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" onchange="getgender2()" value="Female" name="apply_gender" id="ap-gender2"> Female
                                                </label>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group col-md-2 col-sm-12">
                                            <label for="ap-yrres" class="form-control-label"><strong>Year of Residency:</strong><span style="color:red;"> *</span></label>
                                                <input type="number" min="1000" max="2018" step="1" id="ap-yrres" onchange="getyrres()" onkeyup="computeyrres()" name="apply_yrres" placeholder="(ex. 20xx, 2010)" class="col-sm-11 form-control ">
                                        </div>
                                        <div class="form-group col-md-2 col-sm-12">
                                            <label for="ap-yrres" class="form-control-label"><strong>Computed Years:</strong></label>
                                                <div type="text" id="ap-computeyrres" name="apply_computeyrres" class="col-sm-11 form-control " readonly></div>
                                        </div>
                                        <div class="form-group col-md-2 col-sm-12">
                                            <label for="ap-civilstat" class="form-control-label"><strong>Civil Status:</strong><span style="color:red;"> *</span></label>
                                            <select class="form-control" id="ap-civilstat" name="apply_civilstat" onchange="getcivilstat()">
                                                <option value="Single">Single</option>
                                                <option value="Married">Married</option>
                                                <option value="Widow/Widower">Widow/Widower</option>
                                                <option value="Separated">Separated</option>
                                            </select>
                                        </div>
                                         <div class="form-group col-md-4 col-sm-12">
                                            <label for="ap-address" class="form-control-label"><strong>Address:</strong><span style="color:red;"> *</span></label>
                                                <input type="text" id="ap-address" onchange="getaddress()" name="apply_address" placeholder="Type here ..." class="col-sm-11 form-control ">
                                        </div>
                                    </div>
                                </div>
                                //- END OF FIRST TAB


                                //- APPLICANT'S REQUIREMENT/S
                                <div class="tab" id="requirement">
                                    <hr/>
                                    <h3>REQUIREMENTS</h3>
                                    <small>Below are the list of the requirements that the applicant needed to comply.</small>


                                    <div class="table-responsive m-b-40">
                                        <tr>
                                            <div class="form-check">
                                                <label for="Requirements"></label>
                                                <br>
                                                <label for="checkbox1" class="form-check-label ">
                                                    each req in requirements
                                                        input(type="checkbox" onchange="getRequirement()" class="ap-reqName" id="ap-requirementid" name="requirementID[]" value=`${req.int_requirementID}` )
                                                        <text class="reqNames">
                                                            value= " " + req.varchar_requirementName
                                                        </text>
                                                        
                                                        input(type="text" class="ap-reqLoc form-control" id="ap-requirementloc" name="requirementLoc[]" )
                                                        
                                                        <br>
                                                </label>
                                                //- <input type="hidden" id="ap-uncheck" class="ap-uncheck" name="apply_uncheck[]">
                                            </div>
                                        </tr>                   
                                    </div>
                                </div> 
                                //- END OF APPLICANT'S REQUIREMENT/S 

                                //- SUMMARY OF APPLICATION
                                <div class="tab" id="summary">
                                    <hr/>
                                            <form class="form-horizontal form-label-left">
                                                <div class="x_panel">
                                                    <div class="x_title">
                                                        <h2>Summary of Application <small></small></h2>
                                                        <div class="clearfix"></div>
                                                        <small>These are the information about the applicant you want to register.</small>
                                                    </div>
                                                    <div class="x_content">
                                                        <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                            <th>Basic Information</th>
                                                            <th>   </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                            <th scope="row">Last Name:</th>
                                                            <td>
                                                                <div id="result-lname"><div>
                                                            </td>
                                                            </tr>
                                                            <tr>
                                                            <th scope="row">First Name:</th>
                                                            <td><div id="result-fname"></div></td>
                                                            </tr>
                                                            <tr>
                                                            <th scope="row">Middle Name:</th>
                                                            <td><div id="result-mname"></div></td>
                                                            </tr>
                                                            <tr>
                                                            <th scope="row">Birthdate:</th>
                                                            <td><div id="result-birthdate"></div></td>
                                                            </tr>
                                                            <tr>
                                                            <th scope="row">Contact Number:</th>
                                                            <td><div id="result-contact"></div></td>
                                                            </tr>
                                                            <tr>
                                                            <th scope="row">Email Address:</th>
                                                            <td><div id="result-email"></div></td>
                                                            </tr>
                                                            <tr>
                                                            <th scope="row">Gender:</th>
                                                            <td><div id="result-gender"></div></td>
                                                            </tr>
                                                            <tr>
                                                            <th scope="row">Year of Residency:</th>
                                                            <td><div id="result-yrres"></div></td>
                                                            </tr>
                                                            <tr>
                                                            <th scope="row">Civil Status:</th>
                                                            <td><div id="result-civilstat"></div></td>
                                                            </tr>
                                                            <tr>
                                                            <th scope="row">Address:</th>
                                                            <td><div id="result-address"></div></td>
                                                            </tr>
                                                            <tr>
                                                            <th scope="row"></th>
                                                            <td></td>
                                                            </tr>
                                                        </tbody>
                                                        <thead>
                                                            <tr >
                                                            <th>Requirements</th>
                                                            <th>   </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                            <th scope="row">Requirements passed:</th>
                                                            <td id="result-projRequirement"></td>
                                                            </tr>
                                                            <tr>
                                                            <th scope="row"></th>
                                                            <td></td>
                                                            </tr>
                                                        </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </form>
                                </div> 
                                //- END OF SUMMARY OF APPLICATION

                            </div>
                            <!-- End SmartWizard Content -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    //- SCRIPT FOR TABS
    script.
        
        //- SWEET ALERT CONFIRM SUBMIT
                $('#regForm').on('submit',function (e) {
                    var form = $(this).parents('form');
                    e.preventDefault(); //prevent submit
                    
                        swal({
                        title: 'Are you sure?',
                        text: "You will submit this application.",
                        type: 'info',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, submit it!'
                        }).then((result) => {
                        if (result.value) {
                            $('##regForm').submit();
                            swal(
                            'Success!',
                            'Statement of Problem has been Submitted!',
                            'success'
                            )
                        }
                        })
                });
        //- END OF SWEET ALERT

        //- SCRIPT FOR SUMMARY OF APPLICATION
        function getlname() {
            var lname = document.getElementById("ap-lname").value;
            console.log(lname);

            if(lname!=0){
                document.getElementById("result-lname").innerHTML = lname;
            }
        }

        function getfname() {
            var fname = document.getElementById("ap-fname").value;
            console.log(fname);

            if(fname!=0){
                document.getElementById("result-fname").innerHTML = fname;
            }
        }

        function getmname() {
            var mname = document.getElementById("ap-mname").value;
            console.log(mname);

            if(mname!=0){
                document.getElementById("result-mname").innerHTML = mname;
            }
        }

        function getbirthdate() {
            var options = {year: 'numeric', month: 'long', day: 'numeric'};

            var birthdate = new Date(document.getElementById("ap-birthdate").value);
            var bday = birthdate.toLocaleDateString([], options);

            console.log(bday);

            ageMS = Date.parse(Date()) - Date.parse(document.getElementById("ap-birthdate").value);
            age = new Date();
            age.setTime(ageMS);
            ageYear = age.getFullYear() - 1970;
            console.log("Current Age:")
            console.log(ageYear)

            if(birthdate!=0){
                document.getElementById("result-birthdate").innerHTML = bday;
                document.getElementById("ap-age").innerHTML = ageYear + " year/s old";
            }
        }

        function getcontact() {
            var contact = document.getElementById("ap-number").value;
            console.log(contact);

            if(contact!=0){
                document.getElementById("result-contact").innerHTML = contact;
            }
        }

        function getemail() {
            var email = document.getElementById("ap-email").value;
            console.log(email);

            if(email!=0){
                document.getElementById("result-email").innerHTML = email;
            }
        }

        function getgender1() {
            var gender = document.getElementById("ap-gender1").value;
            console.log(gender);

            if(gender!=0){
                document.getElementById("result-gender").innerHTML = gender;
            }
        }

        function getgender2() {
            var gender = document.getElementById("ap-gender2").value;
            console.log(gender);

            if(gender!=0){
                document.getElementById("result-gender").innerHTML = gender;
            }
        }

        function getyrres() {
            var yrres = document.getElementById("ap-yrres").value;
            console.log(yrres);

            //- curyear = new Date();
            //- totYear = (curyear.getFullYear() - document.getElementById("ap-yrres").value) ;
            //- console.log("Total Years:")
            //- console.log(totYear)

            if(yrres!=0){
                document.getElementById("result-yrres").innerHTML = yrres;
                //- document.getElementById("ap-computeyrres").innerHTML = totYear + " year/s";
            }

        }

        function getaddress() {
            var address = document.getElementById("ap-address").value;
            console.log(address);

            if(address!=0){
                document.getElementById("result-address").innerHTML = address;
                
            }

        }

        function computeyrres() {
            var yrres = document.getElementById("ap-yrres").value;
            console.log(yrres);

            curyear = new Date();
            totYear = (curyear.getFullYear() - document.getElementById("ap-yrres").value) ;
            console.log("Total Years:")
            console.log(totYear)

            if(yrres!=0){
                //- document.getElementById("result-yrres").innerHTML = yrres;
                document.getElementById("ap-computeyrres").innerHTML = totYear + " year/s";
            }

        }

        function getcivilstat() {
            var civilstat = document.getElementById("ap-civilstat").value;
            console.log(civilstat);

            if(civilstat!=0){
                document.getElementById("result-civilstat").innerHTML = civilstat;
            }
        }

        function getRequirement() {
            var reqIndeces = [];
            var reqNames = [];
            var names = "";


            
            

            $('.ap-reqName:checked').each(function() {
                reqIndeces.push($("input[type=checkbox]").index($(this)));
            });

            $('.reqNames').each(function() {
                reqNames.push($(this).text());
            });

            for(var i = 0 ; i < reqIndeces.length ; i++) {
                var index = reqIndeces[i];

                names += reqNames[index]+"<br/>"
            }

            console.log(reqNames);
            console.log(reqIndeces);

            document.getElementById("result-projRequirement").innerHTML = names;
            
        }