extends ../../home/views/navbar.pug

block content
    <div class="right_col" role="main">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h1 class="text-center">Proposal</h1>
                        <div class="text-center">
                            a(href=`/office/proposals/createproposals/` id="viewproj" class="btn btn-primary btn-lg"): span Create Proposal
                        </div>
                    </div>             
                    <div class="content-wrapper">
                        <div class="container-fluid">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="datatable" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>Proposed Name</th>
                                                        <th>Status</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <th>Project Name</th>
                                                        <th>Status</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </tfoot>
                                                <tbody>
                                                each project in tbl_projectproposal
                                                    
                                                        <tr>
                                                            <td>
                                                                value=project.varchar_projectName
                                                                </td>
                                                                <td>
                                                                    value=project.enum_proposalStatus
                                                                </td>
                                                                <td>
                                                                    a(href=`/office/proposals/proposals/${project.int_projectID}/proposaldetails` id="viewproj" class="btn btn-info btn-xs btn-block"): span View Details
                                                                    if project.enum_proposalStatus == "Approved" 
                                                                        button.btn.btn-success.btn-sm.btn-block(id="btn-cheque" class="btn-cheque" value= project.int_projectID): span.fa.fa-check  Cheque Number
                                                                    if project.enum_proposalStatus == "Revision"
                                                                        button.btn.btn-warning.btn-sm.btn-block(id="btn-revise" class="btn-revise" value= project.int_projectID): span.fa.fa-check  Revise
                                                                </td>
                                                        </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                                <div class="modal fade" id="chequeModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                        
                                            <form method="POST" action="/office/proposals/checknumberget" data-parsley-validate class="form-horizontal form-label-left">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="mediumModalLabel">Cheque Number
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        </h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="input-group">
                                                            <input type="hidden" id="PROJECT_idcheq" name="PROJECT_idcheq" value="">
                                                            <input type="text" id="chequeNumber" name="chequeNumber"class="form-control">
                                                            <span class="input-group-btn">
                                                                <button type="submit" id="but-sub" class="btn btn-success">Send</button>
                                                            </span>
                                                        </div>
                                                    </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="reviseModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                        
                                            <form method="POST" action="revisePost" data-parsley-validate class="form-horizontal form-label-left">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="mediumModalLabel">Revision
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        </h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="input-group">
                                                            <input type="hidden" id="PROJECT_idrev" name="PROJECT_idrev" >
                                                            <p>

                                                            <span class="input-group-btn">
                                                                <button type="submit" id="but-sub" class="btn btn-success">Revise</button>
                                                            </span>
                                                        </div>
                                                    </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
        <!-- END STATISTIC-->
                <script src="/newassets/vendor/jquery-3.2.1.min.js"></script>

                script.

                    $(document).ready(function () {

                        $('.btn-cheque').click(function (e) {
                            e.preventDefault()
                            var Id = $(this).val();
                            console.log("================================Id(Class)")
                            console.log(Id);
                            console.log("================================Id(Class)")
                            $('#chequeModal').modal('show');
                            //- document.getElementById("ch").value = Id;
                            document.getElementById("PROJECT_idcheq").value = Id;
                        }); 

                        $('.btn-revise').click(function (e) {
                            e.preventDefault()
                            var Id = $(this).val();
                            console.log("================================Id(Class)")
                            console.log(Id);
                            console.log("================================Id(Class)")
                            $('#reviseModal').modal('show');
                            document.getElementById("ch").value = Id;
                            document.getElementById("PROJECT_idrev").value = Id;
                            
                        }); 
                    });

                    