extends ../../home/views/navbar.pug

block content
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h1>Project Category<button class="btn btn-primary btn-lg pull-right" id="addprojcat" type="button" data-toggle="modal" data-target=".bs-example-modal-sm"><span class="fa fa-plus"></span> Add</button></h1>
                </div>              
        <div class="content-wrapper">
            <div class="container-fluid">
            <div class="card mb-4">
                <div class="card-header">
                <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="datatable" width="95%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>Project Category Name</th>
                          <th>Actions</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th>Project Category Name</th>
                          <th>Actions</th>
                          <th>Status</th>
                        </tr>
                      </tfoot>
                      <tbody>
                      each category in tbl_category
                          <tr>
                          <td>
                            value=category.varchar_categoryName
                          </td>
                          <td>
                            a(href=`/office/maintenance/projectcategory/${category.int_categoryID}/editprojectcategory` id="editprojectcategory" class="btn btn-info btn-s"): span.fa.fa-pencil  Edit
                          </td>
                          <td>
                            if category.enum_categoryStatus == "Inactive"
                              form(method="POST" action="/office/maintenance/projectcategory/activate")
                                input(value=category.int_categoryID name="id" required, hidden)
                                button.btn.btn-danger.btn-s(type='submit') Inactive
                            if category.enum_categoryStatus == "Active"
                              form(method="POST" action="/office/maintenance/projectcategory/inactive")
                                input(value=category.int_categoryID name="id" required, hidden)
                                button.btn.btn-success.btn-s(type='submit') Active
                          </td>
                          </tr>
                      </tbody>
                    </table>
                </div>
                </div>
                </div>

                  <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                      <div class="modal-content">
                        <div class="modal-body">
                          <form class="form-horizontal form-label-left" method="POST" action='projectcategory' name="addprojcat" novalidate>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                          </button>
                        <h4 class="modal-title" id="myModalLabel"><span class="section">Project Category Name</span></h4>
             
                      <div class="item form-group">
                        <div class=" col-sm-12 col-xs-12">
                          <input id="projectcategoryname" class="form-control col-md-7 col-xs-12" name="projectcategoryname" placeholder="" required="required" type="text">
                        </div>
                      </div>
                      </div>
                        <div class="modal-footer">
                          <button type="submit" id="modalbutton" class="btn btn-primary float-right" position="center" style="background-color#21BA45;color:whitesmoke;border:none;">Submit</button>
                          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div></form>

                        </div>
                        </div>
                    </div>
                    