extends ../../home/views/navbar.pug

block content
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h1>Target Beneficiary<button class="btn btn-primary btn-lg pull-right" id="addtarget" type="button" data-toggle="modal" data-target=".bs-example-modal-lg"><span class="fa fa-plus"></span> Add</button></h1>
                </div>              
        <div class="content-wrapper">
            <div class="container-fluid">
            <div class="card mb-4">
                <div class="card-header">
                <div class="card-body">
                <div class="table-responsive">
                      <table class="table table-bordered" id="datatable" cellspacing="0">
                      <thead>
                        <tr>
                          <th>Target Beneficiary Name</th>
                          
                          <th>Actions</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th>Target Beneficiary Name</th>
                          
                          <th>Status</th>
                        </tr>
                      </tfoot>
                      <tbody>
                      each target in tbl_beneficiary
                          <tr>
                          <td>
                            value=target.varchar_beneficiaryName
                          </td>
                          
                          <td>
                            a(href=`/office/maintenance/targetbeneficiary/${target.int_beneficiaryID}/edittargetbeneficiary` id="edittargetbeneficiary" class="btn btn-info btn-s"): span.fa.fa-pencil  Edit
                          </td>
                          <td>
                            if target.enum_beneficiaryStatus == "Inactive"
                              form(method="POST" action="/office/maintenance/targetbeneficiary/activate")
                                input(value=target.int_beneficiaryID name="id" required, hidden)
                                button.btn.btn-danger.btn-s(type='submit') Inactive
                            if target.enum_beneficiaryStatus == "Active"
                              form(method="POST" action="/office/maintenance/targetbeneficiary/inactive")
                                input(value=target.int_beneficiaryID name="id" required, hidden)
                                button.btn.btn-success.btn-s(type='submit') Active
                          </td>
                          </tr>
                      </tbody>
                      </table>
                </div>
                </div>
                </div>

                  <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                      <div class="modal-content">
                        <div class="modal-body">
                          <form class="form-horizontal form-label-left" method="POST" action='targetbeneficiary' name="addtarget"id="formaddbeneficiary">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                          </button>
                        <h4 class="modal-title" id="myModalLabel"><span class="section">Target Beneficiary Details</span></h4>
             
                      <div class=" form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="beneficiaryname">Target Beneficiary Name <span class="required">*</span>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input id="beneficiaryname" class="form-control col-md-7 col-xs-12" name="beneficiaryname" placeholder="" required="required" type="text">
                          //- <input id="beneficiaryname" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="3" name="beneficiaryname" placeholder="" required="required" type="text">
                        </div>
                      </div>
                      //- <div class="item form-group">
                      //-   <label class="control-label col-md-3 col-sm-3 col-xs-12" for="beneficiarydescription">Target Beneficiary Constraint <span class="required">*</span>
                      //-   </label>
                      //-   <div class="col-md-8 col-sm-8 col-xs-12">
                      //-     <input id="beneficiarydescription" class="form-control col-md-12 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="beneficiarydescription" placeholder="" required="required" type="text">
                      //-   </div>
                      //- </div>
                      <button type="submit" id="submitbeneficiary" class="btn btn-primary float-right" position="center" style="background-color#21BA45;color:whitesmoke;border:none;">Submit</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </form></div>
                        <div class="modal-footer">
                          
                        </div>

                        </div>
                        </div>
                    </div>

                    script.
                      $(document).ready(function () {
                          //- SWEET ALERT CONFIRM SUBMIT
                          $('#submitbeneficiary').on('click',function (e) {
                              var form = $(this).parents('form');
                              e.preventDefault(); //prevent submit
                              
                                  swal({
                                  title: 'Are you sure?',
                                  text: "You will submit this target beneficiary.",
                                  type: 'info',
                                  showCancelButton: true,
                                  confirmButtonColor: '#3085d6',
                                  cancelButtonColor: '#d33',
                                  confirmButtonText: 'Yes, submit it!'
                                  }).then((result) => {
                                  if (result.value) {
                                      $('#formaddbeneficiary').submit();
                                  }                        
                                  })
                          });
                          //- START VALIDATIONS
                          $(function() {
                          $("#formaddbeneficiary").validate({
                              rules: {
                              beneficiaryname: {
                                  required: true,
                              },
                              action: "required"
                              },
                              messages: {
                              beneficiaryname: {
                                  required: "Please enter some data",
                              },
                              action: "Please provide some data"
                              },
                              submitHandler: function(form){
                                  form.submit();
                                  swal(
                                      'Success!',
                                      'Target Beneficiary has been Submitted!',
                                      'success'
                                      )
                              }
                          });
                          
                          });
                          //- END VALIDATIONS
                        
                      });

                      
