extends ../../home/views/navbar.pug

block content
    //- <!-- page content -->
    <div class="right_col" role="main">
        <form method="" action="">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x-title">
                        <h1>Queries</h1>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x-content">
                        <div class="form-row">
                            <div class="form-group has-feedback col-lg-4 col-md-4 col-sx-12 col-xs-12">
                                <label class="control-label"> Query Search </label>
                                <select class="form-control has-feedback-left">
                                    <option> Project </option>
                                    <option> Application </option>
                                </select>
                                <span class="fa fa-search form-control-feedback left" aria-hidden="true"></span>
                            </div>
                            <div class="form-group has-feedback col-lg-4 col-md-4 col-sx-12 col-xs-12">
                                <label  class="control-label"> Date Range </label>
                                <input type="text"  name="reservation" id="reservation" class="form-control has-feedback-left" value="01/01/2016 - 01/25/2016" />
                                <span class="fa fa-calendar form-control-feedback left" sria-hidden="true"></span>
                            </div>
                            <div class="form-group has-feedback col-lg-2 col-md-2 col-sx-12 col-xs-12">
                                <label  class="control-label"> Status </label>
                                <select class="form-control has-feedback-left">
                                    <option> Created </option>
                                    <option> Ongoing </option>
                                </select>
                                <span class="fa fa-calendar form-control-feedback left" sria-hidden="true"></span>
                            </div>
                            //- <div class="form-group has-feedback col-lg-2 col-md-2 col-sx-12 col-xs-12">
                            //-     <label class="control-label"> Order </label>
                            //-     <select class="form-control has-feedback-left">
                            //-         <option> Ascending </option>
                            //-         <option> Descending </option>
                            //-     </select>
                            //-     <span class="fa fa-search form-control-feedback left" aria-hidden="true"></span>
                            //- </div>
                            <div class="form-group col-lg-2 col-md-2 col-sx-12 col-xs-12">
                                <div class="">
                                    <label  class="control-label"> Action </label>
                                    <button class="btn btn-info form-control"> Generate Excel </button>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="x_panel" style="margin-top: 15px">
                                <div class="x-title">
                                    <h4>Projectscmd</h4>
                                    <div class="clearfix"></div>
                                    <hr style="margin-top: 0"/>
                                </div>
                                <div class="x-content">
                                    <div class="content-wrapper">
                                        <div class="container-fluid">
                                            <div class="card mb-4">
                                                <div class="card-header">
                                                    <div class="card-body">
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered" id="datatable" cellspacing="0">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Project Name</th>
                                                                        <th>Alloted Slot</th>
                                                                        //- <th>Available Slot</th>
                                                                        <th>Status</th>
                                                                        <th>Actions</th>
                                                                    </tr>
                                                                </thead>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                
            </div>
        </form>
    </div>