extends ../../home/views/navbar.pug

block content
    <div class="right_col" role="main">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    .d-print-none#noPrint
                        .pull-right
                            <button id="printReceiptButton" type="button" class= "btn float-right btn-sm btn-inverse fa fa-print">&nbsp;&nbsp; Print
                    <div class="x_title">
                        <h1 class="text-center">OngoingProjects</h1>
                        
                    </div>              
                    <div class="content-wrapper" >
                        <div class="container-fluid">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>Project Name</th>
                                                        <th>Description</th>
                                                        <th>Objectives</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                each project in tbl_ongoing
                                                    <tr>   
                                                        <td>
                                                            value= project.varchar_projectName
                                                        </td>
                                                        <td>
                                                            value= project.text_projectDescription
                                                        </td>
                                                        <td>
                                                            value= project.text_projectObjective
                                                        </td>
                                                        <td>
                                                            value= project.enum_projectStatus
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    script(src='/assets/js/jspdf.js')
    script(src='/assets/js/printjs.min.js')
    
    script(type='text/javascript').
        $(document).ready(function(){
            $('#printReceiptButton').click(function(){
                $('#noPrint').attr('style', 'display:none;')
                javascript:window.print(print)
                $('#formprint').submit();
                $('#noPrint').attr('style', 'display:show;')
            });
            $("#fillform").on("change", function() {
                var Id = $(this).val();
                console.log(Id);
                for(var i = 0; i < 10; i++)
                {
                    if(Id==1)
                    {
                        
                    }
                }
            });
        });