extends ../../home/views/navbar.pug

block content
    <div class="right_col" role="main">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h1>List of barangay<button class="btn btn-primary btn-lg pull-right" id="addrequirement" type="button" data-toggle="modal" data-target=".bs-example-modal-lg"><span class="fa fa-plus"></span> Add</button></h1>
                    </div>              
                    <div class="content-wrapper">
                        <div class="container-fluid">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="datatable" width="95%" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>Barangay Name</th>
                                                        <th>E-mail</th>
                                                        <th>Barangay Contact</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <th>Barangay Name</th>
                                                        <th>E-mail</th>
                                                        <th>Barangay Contact</th>
                                                    </tr>
                                                </tfoot>
                                                <tbody>
                                                each brgy in tbl_barangay
                                                    <tr>
                                                        <td>
                                                            value=brgy.varchar_barangayName
                                                        </td>
                                                        <td>
                                                            <span class="block-email">
                                                            value=brgy.varchar_userEmailAddress
                                                            </span>
                                                        </td>
                                                        <td>
                                                            value=brgy.varchar_barangayContact
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <form class="form-horizontal form-label-left" method="POST" action='' name="" novalidate>
                                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                                                    </button>
                                                    <h4 class="modal-title" id="myModalLabel"><span class="section">Barangay details</span></h4>
                                                    <div class="item form-group">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="barangay_name">Barangay Name <span class="required">*</span>
                                                        </label>
                                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                                        <input id="barangay_name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="3" name="barangay_name" placeholder="Enter the barangay name here ..." required="required" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="item form-group">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email Address <span class="required">*</span>
                                                        </label>
                                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                                        <input id="email" class="form-control col-md-12 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="email" placeholder="Enter e-mail address here ..." required="required" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="item form-group">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="contact_num">Contact Number <span class="required">*</span>
                                                        </label>
                                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                                        <input id="contact_num" class="form-control col-md-12 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="contact_num" placeholder="Enter Telephone/Cellphone# here ..." required="required" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="pull-right">
                                                    <input type="hidden" id="password" name="password"> 
                                                    <button type="submit" id="submitaccnt" class="btn btn-primary float-right" position="center" style="background-color#21BA45;color:whitesmoke;border:none;">Submit</button>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                            </div>
                                        </div>
                                    </div>
                                </div>
        <!-- END STATISTIC-->
        script.
            var text = "";
            var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
            for (var i = 0; i < 8; i++)
                text += possible.charAt(Math.floor(Math.random() * possible.length)); 
            
            document.getElementById("password").value = text;