extends ../../home/views/navbar.pug

block content
    <br/>
    <h1 class="text-center">MAILBOX</h1>
    <hr/>
    
    <div class="content">
        <div class="row">
            <div class="column">
                <div class="col-lg-7 col-md-7 col-sm-7">
                    <ul class="messagesList">
                        each message in messages
                            <li>
                                <span class="from">
                                    value=message.enum_userType
                                </span>
                                <span class="title">
                                    value=message.varchar_messageTitle
                                </span>
                                <span class="date">
                                    value=message.date_createdDate
                                </span>
                            </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>