extends ../../../templates/master.pug

block body
    <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="mahoganylanding/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="mahoganylanding/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="mahoganylanding/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="mahoganylanding/css/creative.min.css" rel="stylesheet">

    </head>

    <body id="page-top">


        <nav class="navbar navbar-expand-lg sticky-top " style="background-color:whitesmoke;">
        <a class="navbar-brand" href="/home">
            <img src="/mahoganylanding/img/logo.png" width="40" height="35" class="d-inline-block align-top" alt="irregular please icon"> <a class="navbar-brand js-scroll-trigger" href="/home"><b>Mahogany <small>Daycare Center</b></small></a></a>
            <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-uppercase" id="navbarResponsive">
            <ul class="navbar-nav ml-auto" >
                <li class="nav-item" >
                <a class="nav-link js-scroll-trigger" href="#about" ><b>About</b></a>
                </li>
                <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#services"><b>Services</b></a>
                </li>
                <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#portfolio"><b>Gallery</b></a>
                </li>
                <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#contact"><b>Contact</b></a>
                </li>
                <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#"data-toggle="modal" data-target="#myModal"><b>Login</b></a>
                </li>
            </ul>
            </div>
        </div>
        </nav>

        <header class="masthead text-center text-white d-flex">
        <div class="container my-auto">
            <div class="row">
            <div class="col-lg-10 mx-auto" style="margin-top:14%;">
                <h1 class="text-uppercase">
                <strong style="font-size:75%;">"Teaching is more than imparting knowledge; <br>it is inspiring change."<br><small style="font-size:40%;"><i>-William Arthur Ward</i></small></strong>
                </h1>
                <hr>
            </div>
            <div class="col-lg-8 mx-auto">
                <br>
                <p class=" mb-5">Mahogany Daycare Center is a facility that can boost your children's capabilities. <br>Located at Buli Muntinlupa City.</p>
            </div>
            </div>
        </div>
        </header>

        <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white">We've got what you need!</h2>
                <hr class="light my-4">
                <p class="mb-4" style="color:whitesmoke;">We have educational offers for nursery, pre-kinder, and kinder students who wants to be part of our friendly community.</p>
                <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
            </div>
            </div>
        </div>
        </section>

        <section id="services">
        <div class="container">
            <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="my-4">
            </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                <i class="fa fa-4x fa-book text-primary mb-3 sr-icons"></i>
                <h3 class="mb-3">Quality Learning</h3>
                <p class="text-muted mb-0">We give our best for our students.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
                <h3 class="mb-3">Friendly Environment</h3>
                <p class="text-muted mb-0">Comfortable rooms to think.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                <i class="fa fa-4x fa-list-alt text-primary mb-3 sr-icons"></i>
                <h3 class="mb-3">Monthly Activities</h3>
                <p class="text-muted mb-0">Different activities that your children can join.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                <i class="fa fa-4x fa-users text-primary mb-3 sr-icons"></i>
                <h3 class="mb-3">Accomodating Staffs</h3>
                <p class="text-muted mb-0">We have the best staffs to help you and your children.</p>
                </div>
            </div>
            </div>
        </div>
        </section>

        <section class="p-0" id="portfolio">
        <div class="container-fluid p-0">
            <div class="row no-gutters popup-gallery">
            <div class="col-lg-4 col-sm-6">
                <img class="img-fluid" src="mahoganypics/pic12.jpg" alt="pic12">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                    <div class="project-category text-faded">
                        Category
                    </div>
                    <div class="project-name">
                        
                    </div>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <img class="img-fluid" src="mahoganypics/pic6.jpg" alt="pic6">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                    <div class="project-category text-faded">
                        Category
                    </div>
                    <div class="project-name">
                        
                    </div>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <img class="img-fluid" src="mahoganypics/pic7.jpg" alt="pic7">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                    <div class="project-category text-faded">
                        Category
                    </div>
                    <div class="project-name">
                        
                    </div>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <img class="img-fluid" src="mahoganypics/pic8.jpg" alt="pic8">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                    <div class="project-category text-faded">
                        Category
                    </div>
                    <div class="project-name">
                        
                    </div>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <img class="img-fluid" src="mahoganypics/pic9.jpg" alt="pic9">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                    <div class="project-category text-faded">
                        Category
                    </div>
                    <div class="project-name">
                        
                    </div>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <img class="img-fluid" src="mahoganypics/pic13.jpg" alt="pic13">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                    <div class="project-category text-faded">
                        Category
                    </div>
                    <div class="project-name">
                    
                    </div>
                    </div>
                </div>
                </a>
            </div>
            </div>
        </div>
        </section>

        <section id="contact">
        <div class="container">
            <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="my-4">
                <p class="mb-5">Ready to be part of us? That's great! Keep in touch with us in here and we will get back to you as soon as possible.<br></p>
            </div>
            </div>
            <div class="row">
            <div class="col-lg-12 ml-auto text-center">
                <a href="/signup"><i class="fa fa-user-plus fa-4x mb-3 sr-contact"></i></a>
                <p><strong>Register Now!</strong></p>
            </div>
            </div>
        </div>
        </section>

        <footer class="" id="footer">
        <div class="container">
        <div class="row">
            <div class="col-sm-7 footer-copyright">Mahogany Daycare Center - 2018
            <div class="credits">Created by <a href="#">ADR & MJV Duo</a>
            <br>
            <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fmahogany-webdev.herokuapp.com%2Fhome&layout=button_count&size=small&mobile_iframe=true&width=69&height=20&appId" width="69" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </div>
            </div>
            <div class="col-sm-5 footer-social">
            <div class="pull-right hidden-xs hidden-sm">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
            </div>
            </div>
        </div>
        </div>
    </footer>

        //- scripts
        <script src="mahoganylanding/vendor/jquery/jquery.min.js"></script>
        <script src="mahoganylanding/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="mahoganylanding/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="mahoganylanding/vendor/scrollreveal/scrollreveal.min.js"></script>
        <script src="mahoganylanding/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="mahoganylanding/js/creative.min.js"></script>

    </body>

    //- Modal Login
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" style="filter: opacity(88%);">
            <div class="modal-content">
                <div class="modal-header">
                <img rel="image" src="/icons/login.png" style="width:40px;height:40px;">&nbsp;
                <h4 style="color:black;">Login:</h4>
                <button type="button" class="close" data-dismiss="modal">x</button>
            </div>
            <div class="modal-body">
                <form method="POST" action='home' name="login_form">
                    <div class="form-group">
                    <p>&nbsp;<i class="fa fa-id-card fa-2x" aria-hidden="true" ></i>&nbsp;&nbsp;<input type="email" name="user_email" id="modalstudno" class="form-control float-right col-md-10" placeholder="Email Address (ex. qwerty@gmail.com)" required></p>
                    </div>
                    <p>&nbsp;&nbsp; <i class="fa fa-unlock-alt fa-2x" aria-hidden="true"></i>&nbsp; &nbsp;<input type="password" name="user_password" id="modalemail" class="form-control float-right col-md-10" placeholder="Password" size=33 required></p>
                    <p><button type="submit" id="modalbutton" class="btn btn-primary float-right" position="right" style="background-color:##FF7F50;color:whitesmoke;border:none;">Sign in</button></p>
                </form>
            </br>
            </br>
            </div>
            <div class="modal-footer float-right"><small>Don't have an account yet?</small> <a href="/signup" class="Register" style="color:#FF7F50;">  Register Here!</a>
            </div>  
                </div>
                
            </div>
        </div>
    </div>