extends ../../../templates/landingbase.pug

block body
    <body>
        <div class="wrapper">
            <!-- header-section-->
            <div class="header-wrapper">
                <div class="top-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-9 col-lg-7 col-md-8 d-none d-xl-block d-sm-block">
                                <div class="top-header-content">
                                    <ul class="list-none">
                                        <li><i class="fa fa-envelope top-header-icon" style="color:#3B5997;"></i>municipal.address@gmail.com</li>
                                        <li><i class="fa fa-phone top-header-icon" style="color:#3B5997;"></i>+180-123-4567</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-8 d-none d-block d-sm-block">
                                <div class="top-header-content">
                                    <div class="top-social"> <a href="#" class="btn-social-icon"><i class="fa fa-facebook"></i></a> <a href="#" class="btn-social-icon"><i class="fa fa-twitter"></i></a> <a href="#" class="btn-social-icon"><i class="fa fa-google-plus"></i></a>
                                        <a href="#" class="btn-social-icon" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-user">Login</i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- header-section-->
                <div class="header">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-3 col-lg-2 col-md-3 col-sm-3 col-12">
                                <div class="logo"> <a href="/home"><img src="landing/images/logo.png" alt=""> </a> </div>
                            </div>
                            <div class="col-xl-9 col-lg-10 col-md-9 col-sm-12 col-12">
                                <!-- navigations-->
                                <div class="navigation">
                                    <div id="navigation">
                                        <ul>
                                            <li class="active"><a href="index.html">Home</a></li>
                                            <li class="has-sub"><a href="#">Projects/Programs</a>
                                                <ul>
                                                    <li><a href="#">Open for Application</a></li>
                                                    <li><a href="#">Finished Projects</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="about.html">About</a></li>
                                            <li class="has-sub"><a href="#">Blog</a>
                                                <ul>
                                                    <li><a href="blog-default.html">Blog Default</a></li>
                                                    <li><a href="blog-single.html">Blog Single</a></li>
                                                </ul>
                                            </li>
                                            <li class="has-sub"><a href="#">Pages</a>
                                                <ul>
                                                    <li><a href="testimonials.html">Clients Reviews</a> </li>
                                                    <li><a href="tour-booking.html">Tour Booking</a> </li>
                                                    <li><a href="tab.html">Tabs</a> </li>
                                                    <li><a href="alerts.html">Alerts</a> </li>
                                                    <li><a href="accordions.html">Accordions</a> </li>
                                                    <li><a href="gallery.html">Gallery</a> </li>
                                                    <li><a href="404-page.html">404 page</a> </li>
                                                    <li><a href="call-to-action.html">Call To Actions</a></li>
                                                    <li><a href="styleguide.html">styleguide</a> </li>
                                                </ul>
                                            </li>
                                            <li><a href="contact-us.html">Contact</a></li>
                                            <li><a href="template-feature.html">Template Feature</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /.navigations-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /. header-section-->
            <!-- slider -->
            <div class="slider">
                <div class="owl-carousel owl-one owl-theme">
                    <!-- item -->
                    <div class="item">
                        <div class="slider-img">
                            <img src="landing/images/slider_1.jpg" alt=""></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                    <div class="slider-captions">
                                        <h1 class="slider-title">City Projects Application and Releasing of Benefits</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.item -->
                    <!-- item -->
                    <div class="item">
                        <div class="slider-img"><img src="landing/images/slider_2.jpg" alt=""></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                    <div class="slider-captions">
                                        <h1 class="slider-title">Know the projects and programs inside your community.</h1>
                                        <a href="#" class="btn btn-primary">Learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.item -->
                </div>
            </div>
            <!-- /.slider -->
            <!-- tour-service -->
            <div class="space-medium">
                <div class="container">
                    <!-- tour-1 -->
                    <div class="row ">
                        <div class="col-xl-4 col-lg-4 offset-md-1 col-md-4 col-sm-12 col-12 mb40">
                            <div class="tour-img">
                                <a href="#" class="imghover"> <img src="./images/tour_img_1.jpg" alt="" class="img-fluid"></a>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 offset-md-1 col-md-5 col-sm-12 col-12 mb40">
                            <div class="tour-block">
                                <div class="tour-content">
                                    <h2 class="mb30"><a href="#" class="title">International Tour</a></h2>
                                    <p class="mb30">Vestibulum nec mauris interdum facilisis nequeet convallis odioses praesentet lacinia orciulla dolorerat ullamcorper sitamet meuesered egestas venenatis enimusce sed ipsum seddolor.</p>
                                    <a href="#" class="btn-link">Go For International Tour<i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.tour-1 -->
                    <!-- tour-2 -->
                    <div class="row">
                        <div class="col-xl-5 col-lg-5 offset-md-1 col-md-5 col-sm-12 col-12 mb40">
                            <div class="tour-block">
                                <div class="tour-content">
                                    <h2 class="mb30"><a href="#" class="title">Adventure Tour</a></h2>
                                    <p class="mb30">Donec porttitor lorem utdiam iaculis euismod congue eroset lectus consectetur fermen uspendissolutpat risus utarcu dapibusat conquat quam sodenean pretium a metus euauctor.</p>
                                    <a href="#" class="btn-link">Go For Adventure Tour<i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 offset-md-1 col-md-4 col-sm-12 col-12 mb40">
                            <div class="tour-img">
                                <a href="#" class="imghover"> <img src="./images/tour_img_2.jpg" alt="" class="img-fluid"></a>
                            </div>
                        </div>
                    </div>
                    <!-- /.tour-2 -->
                    <!-- tour-3 -->
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 offset-md-1 col-md-4 col-sm-12 col-12 mb20">
                            <div class="tour-img">
                                <a href="#" class="imghover"> <img src="./images/tour_img_3.jpg" alt="" class="img-fluid"></a>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 offset-md-1 col-md-5 col-sm-12 col-12 mb20">
                            <div class="tour-block">
                                <div class="tour-content">
                                    <h2 class="mb30"><a href="#" class="title">Domestic Tour</a></h2>
                                    <p class="mb30">Proin in urna hendrerit tortor dignissim auctor vitae etnibstibulum venenatis lectus urnaut sodales nibh sagittis eestibulum ante ipsum primisin faucibusorci luctus etultrices posuere cubilia.</p>
                                    <a href="#" class="btn-link">Go For Domestic Tour<i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.tour-3 -->
                </div>
            </div>
            <!-- /.tour-service -->
            <!-- destination-section -->
            <div class="space-medium">
                <div class="container-fluid">
                    <div class="row">
                        <!-- section-title -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                            <div class="section-title">
                                <h2>Top Destinations</h2>
                            </div>
                        </div>
                        <!-- /.section-title -->
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 nopl nopr">
                            <!-- destination-section -->
                            <div class="destination-block">
                                <div class="desti-img">
                                    <img src="./images/destination_1.jpg" alt="">
                                    <a href="#" class="desti-title">Singapore</a>
                                    <div class="overlay">
                                    </div>
                                    <div class="text">
                                        <h3 class="mb20 text-white">Singapore</h3>
                                        <ul class="angle list-none">
                                            <li>4 Nights / 3 days</li>
                                            <li>3 Star hotel</li>
                                            <li>Breakfast and Dinner</li>
                                        </ul>
                                        <p class="price">$1599</p>
                                        <a href="#" class="btn-link">Go for Singapore <i class="fa fa-angle-right"></i></a></div>
                                </div>
                            </div>
                            <!-- /.destination-section -->
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 nopl nopr">
                            <!-- destination-section -->
                            <div class="destination-block">
                                <div class="desti-img">
                                    <img src="./images/destination_2.jpg" alt="">
                                    <a href="#" class="desti-title">Thailand</a>
                                    <div class="overlay">
                                    </div>
                                    <div class="text">
                                        <h3 class="mb20 text-white">Thailand</h3>
                                        <ul class="angle list-none">
                                            <li>5 Nights / 4 days</li>
                                            <li>3 Star hotel</li>
                                            <li>Breakfast and Dinner</li>
                                        </ul>
                                        <p class="price">$2599</p>
                                        <a href="#" class="btn-link">Go for Thailand <i class="fa fa-angle-right"></i></a></div>
                                </div>
                            </div>
                            <!-- /.destination-section -->
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 nopr nopl">
                            <!-- destination-section -->
                            <div class="destination-block">
                                <div class="desti-img">
                                    <img src="./images/destination_3.jpg" alt="">
                                    <a href="#" class="desti-title">Vietnam</a>
                                    <div class="overlay">
                                    </div>
                                    <div class="text">
                                        <h3 class="mb20 text-white">Vietnam</h3>
                                        <ul class="angle list-none">
                                            <li>6 Nights / 5 days</li>
                                            <li>3 Star hotel</li>
                                            <li>Breakfast and Dinner</li>
                                        </ul>
                                        <p class="price">$4599</p>
                                        <a href="#" class="btn-link">Go for Vietnam <i class="fa fa-angle-right"></i></a></div>
                                </div>
                            </div>
                            <!-- /.destination-section -->
                        </div>
                        <!-- destination-section -->
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 nopr nopl">
                            <div class="destination-block">
                                <div class="desti-img">
                                    <img src="./images/destination_4.jpg" alt="">
                                    <a href="#" class="desti-title">Melbourne</a>
                                    <div class="overlay">
                                    </div>
                                    <div class="text">
                                        <h3 class="mb20 text-white">Melbourne</h3>
                                    
                                            <ul class="angle list-none">
                                            <li>4 Nights / 3 days</li>
                                            <li>3 Star hotel</li>
                                            <li>Breakfast and Dinner</li>
                                        </ul>
                                        <p class="price">$2599</p>
                                        <a href="#" class="btn-link">Go for Melbourne <i class="fa fa-angle-right"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <!-- /.destination-section -->
                    </div>
                </div>
            </div>
            <!-- /.destination-section -->
            <!-- about-section -->
            <div class="space-medium">
                <div class="container">
                    <!-- about-head -->
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 mb60">
                            <div class="">
                                <h2>We are <br> Travel Agency</h2>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 offset-md-1 col-md-8 col-sm-12 col-12 mb60">
                            <div class="">
                                <p class="lead">Pellentesque luctus felis non nibh masus consectetuis sed nisl eniull lentesque euismod eronon ntesque tortor molestie egurabitur lorem ien elementumelitac eleifue nisl fringilla nisia tris.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.about-head -->
                    <div class="row">
                        <!-- feature-section -->
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                            <div class="well-block">
                                <!-- feature-left -->
                                <div class="feature-left">
                                    <div class="feature-icon"><img src="./images/calendar.png" alt=""></div>
                                    <div class="feature-content">
                                        <h4>Everything’s on Schedule</h4>
                                        <p>Cras porttitor tortor erateget accumsan is feltumsit.</p>
                                    </div>
                                </div>
                                <!-- /.feature-left -->
                                <!-- feature-left -->
                                <div class="feature-left">
                                    <div class="feature-icon"><img src="./images/adventure.png" alt=""></div>
                                    <div class="feature-content">
                                        <h4>Destination Variety</h4>
                                        <p>Pellentesque imperdiet esmpus finibusse euismunc.</p>
                                    </div>
                                </div>
                                <!-- /.feature-left -->
                                <!-- feature-left -->
                                <div class="feature-left">
                                    <div class="feature-icon"><img src="./images/hotel.png" alt=""></div>
                                    <div class="feature-content">
                                        <h4>Comfortable Housing</h4>
                                        <p>Vestiulum sodales tempudin one erlctus iedate. </p>
                                    </div>
                                </div>
                                <!-- /.feature-left -->
                            </div>
                        </div>
                        <!-- /.feature-section -->
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                            <div class="well-block">
                                <div class="counter-block">
                                    <h1 class="counter-numbers">689+</h1>
                                    <div class="counter-content">
                                        <h4>Tours</h4>
                                        <p>Cras porttitor tortor erateget taccumsan.</p>
                                    </div>
                                </div>
                                <div class="counter-block">
                                    <h1 class="counter-numbers">320+</h1>
                                    <div class="counter-content">
                                        <h4>Destinations</h4>
                                        <p>Pellentesque luctus felisnon nib its consecteuis.</p>
                                    </div>
                                </div>
                                <div class="counter-block">
                                    <h1 class="counter-numbers">60+</h1>
                                    <div class="counter-content">
                                        <h4>Countries</h4>
                                        <p>Sed gravida eleequenec fringilla dolonteger.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.about-section -->
            <!-- service-section -->
            <div class="space-medium service-wrapper" style="">
                <div class="container">
                    <!-- service-head -->
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 mb60">
                            <div class="">
                                <h2>Our Services</h2>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 offset-md-1 col-md-8 col-sm-12 col-12 mb60">
                            <div class="">
                                <p class="lead">Suctus felis non nibh maximus consectetuis sed nisl eniullase pellentesque euismod eronon ntesque tortor molestieege.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.service-head -->
                    <div class="row">
                        <!-- service-block -->
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 nopr">
                            <div class="service-block border-bottom border-right">
                                <div class="service-img"><img src="./images/hotel_1.png" alt=""></div>
                                <div class="service-content">
                                    <h3 class="service-title">Hotel Reservation</h3></div>
                            </div>
                        </div>
                        <!-- /.service-block -->
                        <!-- service-block -->
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 nopl nopr">
                            <div class="service-block border-bottom border-right">
                                <div class="service-img"><img src="./images/disability.png" alt=""></div>
                                <div class="service-content">
                                    <h3 class="service-title">Staff Transportation Services </h3></div>
                            </div>
                        </div>
                        <!-- /.service-block -->
                        <!-- service-block -->
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 nopl">
                            <div class="service-block border-bottom">
                                <div class="service-img"><img src="./images/airplane.png" alt=""></div>
                                <div class="service-content">
                                    <h3 class="service-title">Air Ticketing Services</h3></div>
                            </div>
                        </div>
                        <!-- /.service-block -->
                        <!-- service-block -->
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 nopr">
                            <div class="service-block border-right">
                                <div class="service-img"><img src="./images/passport.png" alt=""></div>
                                <div class="service-content">
                                    <h3 class="service-title">Passport and Visa Assistance </h3></div>
                            </div>
                        </div>
                        <!-- /.service-block -->
                        <!-- service-block -->
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 nopl nopr">
                            <div class="service-block  border-right">
                                <div class="service-img"><img src="./images/car_wash.png" alt=""></div>
                                <div class="service-content">
                                    <h3 class="service-title">Car Rental Services </h3></div>
                            </div>
                        </div>
                        <!-- /.service-block -->
                        <!-- service-block -->
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 nopl">
                            <div class="service-block service-right-border service-bottom-border">
                                <div class="service-img"><img src="./images/car.png" alt=""></div>
                                <div class="service-content">
                                    <h3 class="service-title">Car on Call</h3></div>
                            </div>
                        </div>
                        <!-- /.service-block -->
                    </div>
                </div>
            </div>
            <!-- /.service-section -->
            <!-- testimonial-section -->
            <div class="space-medium bg-light">
                <div class="container">
                    <div class="row">
                        <!-- testimonial-head -->
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb60">
                            <div class="testimonial-head">
                                <div class="quote-icon">
                                    <img src="./images/left_quote.png" alt="">
                                </div>
                                <h2 class="mb40">What Our Customers Say About Our Tours</h2>
                                <a href="#" class="btn-link">Read All Reviews <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                        <!-- /.testimonial-head -->
                        <div class="col-xl-6 col-lg-6 offset-md-1 col-md-6 col-sm-12 col-12 mb60">
                            <div class="testimonial-carousel">
                                <div class="owl-carousel owl-theme testimonial-owl">
                                    <!-- testimonial-item -->
                                    <div class="item">
                                        <div class="testimonial-block">
                                            <div class="testimonial-content">
                                                <p class="testimonial-text">“Nam aclorem atsem vulputate euismodulla nonlacinia augueauriset venenatis maurised consequat quis exa plarliquam”</p>
                                                <span class="testi-meta"><strong>- Sarah Arnold</strong> (Our Tourist)</span>
                                                <div class="testi-arrow"></div>
                                            </div>
                                            <div class="testi-img">
                                                <img src="./images/testi_img_1.jpg" alt="" class="rounded-circle">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.testimonial-item -->
                                    <!-- testimonial-item -->
                                    <div class="item">
                                        <div class="testimonial-block">
                                            <div class="testimonial-content">
                                                <p class="testimonial-text">“Proin dictum justo at finibus consectetur Proin odio odio molestie qui commodo sit amet euismod dictum ligula”</p>
                                                <span class="testi-meta"><strong>- Maria Young</strong> (Our Tourist)</span>
                                                <div class="testi-arrow"></div>
                                            </div>
                                            <div class="testi-img">
                                                <img src="./images/testi_img_2.jpg" alt="" class="rounded-circle">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.testimonial-item -->
                                    <!-- testimonial-item -->
                                    <div class="item">
                                        <div class="testimonial-block">
                                            <div class="testimonial-content">
                                                <p class="testimonial-text">“Crasin leo arcuiquamnec elementum erossed tincidunt dolroin tristiquecongue Inaex pharetra euismod duieget”</p>
                                                <span class="testi-meta"><strong>- Helena Lehoux</strong> (Our Tourist)</span>
                                                <div class="testi-arrow"></div>
                                            </div>
                                            <div class="testi-img">
                                                <img src="./images/testi_img_3.jpg" alt="" class="rounded-circle">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.testimonial-item -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- testimonial-section -->
            <!-- /.client-section -->
            <div class="space-small">
                <div class="container">
                    <div class="row">
                        <!-- client-logo -->
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                            <div class="client-logo">
                                <a href="#"><img src="./images/dummy_logo_1.png" alt=""></a>
                            </div>
                        </div>
                        <!-- /.client-logo -->
                        <!-- client-logo -->
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                            <div class="client-logo">
                                <a href="#"> <img src="./images/dummy_logo_2.png" alt=""></a>
                            </div>
                        </div>
                        <!-- /.client-logo -->
                        <!-- client-logo -->
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                            <div class="client-logo">
                                <a href="#">  <img src="./images/dummy_logo_3.png" alt=""></a>
                            </div>
                        </div>
                        <!-- /.client-logo -->
                        <!-- client-logo -->
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                            <div class="client-logo">
                                <a href="#"><img src="./images/dummy_logo_4.png" alt=""></a>
                            </div>
                        </div>
                        <!-- /.client-logo -->
                        <!-- client-logo -->
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                            <div class="client-logo">
                                <a href="#"> <img src="./images/dummy_logo_2.png" alt=""></a>
                            </div>
                        </div>
                        <!-- /.client-logo -->
                        <!-- client-logo -->
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                            <div class="client-logo">
                                <a href="#">  <img src="./images/dummy_logo_1.png" alt=""></a>
                            </div>
                        </div>
                        <!-- /.client-logo -->
                    </div>
                </div>
            </div>
            <!-- /.client-section -->
            <!-- footer -->
            <div class="footer">
                <div class="container">
                    <div class="row ">
                        <!-- footer-logo -->
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12 ">
                            <div class="ft-img"><img src="./images/ft_logo.png" alt=""></div>
                        </div>
                        <!-- /.footer-logo -->
                        <!-- footer-links -->
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12 ">
                            <div class="footer-widget ">
                                <h3 class="footer-title ">Quick Links</h3>
                                <ul class="angle list-none">
                                    <li><a href="# ">Home</a></li>
                                    <li><a href="# ">Tour</a></li>
                                    <li><a href="# ">Blog</a></li>
                                    <li><a href="# ">Customer Reviews</a></li>
                                    <li><a href="# ">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.footer-links -->
                        <!-- footer-tours -->
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12 ">
                            <div class="footer-widget ">
                                <h3 class="footer-title ">Tour Packages</h3>
                                <ul class="angle list-none">
                                    <li><a href="# ">International Tour</a>
                                        <li><a href="# ">Domestic Tour</a></li>
                                        <li><a href="# ">Adventure Tour</a></li>
                                        <li><a href="# ">Business Tour</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.footer-Tours -->
                        <!-- footer-post -->
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 ">
                            <div class="footer-widget">
                                <h3 class="footer-title">Contact Info</h3>
                                <div class="ft-contact-info"> <span class="ft-contact-icon"><i class="fa fa-map-marker"></i></span> <span class="ft-contact-text">3927 Birch StreetEl Paso, TX 79930 </span></div>
                                <div class="ft-contact-info"> <span class="ft-contact-icon"><i class="fa fa-phone "></i></span> <span class="ft-contact-text">+180-123-4567</span></div>
                                <div class="ft-contact-info"> <span class="ft-contact-icon"><i class="fa fa-envelope "></i></span> <span class="ft-contact-text">info@travel.com</span></div>
                                <div class="social-icon "> <a href="# " class="btn-social-icon "><i class="fa fa-facebook "></i></a> <a href="# " class="btn-social-icon "><i class="fa fa-twitter "></i></a> <a href="# " class="btn-social-icon "><i class="fa fa-linkedin "></i></a> <a href="# " class="btn-social-icon "><i class="fa fa-google-plus "></i></a> </div>
                            </div>
                        </div>
                        <!-- /.footer-post -->
                    </div>
                    <!-- tiny-footer -->
                </div>
                <div class="tiny-footer ">
                    <div class="container ">
                        <div class="row ">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center ">
                                <p>Copyright © All Rights Reserved 2020 Template Design & Development by <a href="https://easetemplate.com/ " target="_blank " class="copyrightlink ">EaseTemplate</a></p>
                            </div>
                        </div>
                        <!-- /. tiny-footer -->
                    </div>
                </div>
            </div>
            <!-- /.footer -->

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h3 style="display:inline;">Sign in to your Account</h3><a data-dismiss="modal" style="display:inline;" class="float-right">X</a>
                            <hr class="style9" style="margin-bottom:5%;margin-top:3%;">
                            <form action="/home" method="POST">
                                <div class="card">
                                    <div class="card-body" >
                                        <i class="fa fa-address-card-o" style="font-size:30px;margin-right:2%;"></i> Username: <input style="width:70%;margin-bottom:3%;" type="email" name="user_email" value="" required/>
                                        <br>
                                        <i class="fa fa-lock" style="font-size:30px;margin-left:2%;margin-right:4%;"></i> Password: <input style="width:70%;margin-left:1%;" type="password" name="user_password" value="" required/>
                                    </div>
                                </div>
                                <button name="submit" class="btn btn-primary float-right" style="margin-top:3%;" value="submit">Login
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            
            <!-- /.Modal -->
            <a href="javascript:" id="return-to-top"><i class="fa fa-angle-up"></i></a>
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="landing/js/jquery.min.js"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="landing/js/bootstrap.min.js"></script>
            <script src="landing/js/menumaker.js"></script>
            <script src="landing/js/jquery.sticky.js"></script>
            <script src="landing/js/sticky-header.js"></script>
            <script src="landing/js/owl.carousel.min.js"></script>
            <script src="landing/js/multiple-carousel.js"></script>
            <script src="landing/js/jquery-ui.js"></script>
            <script src="landing/js/date.js"></script>
            <script src="landing/js/return-to-top.js"></script>
        </div>