extends ../../../templates/landingbase.pug

block body
    <body class="bckgrndbase ">
        <div class="wrapper">
            <!-- header-section-->
            <div class="header-wrapper">
                <div class="top-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-9 col-lg-7 col-md-8 d-none d-xl-block d-sm-block">
                                <div class="top-header-content">
                                    <ul class="list       -none">
                                        <li><i class="fa fa-envelope top-header-icon" style="color:#3B5997;"></i>municipal.address@gmail.com</li>
                                        <li style="margin-left:1%;"><i class="fa fa-phone top-header-icon" style="color:#3B5997;"></i>+180-123-4567</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-8 d-none d-block d-sm-block">
                                <div class="top-header-content">
                                    <div class="top-social"> <a href="#" class="btn-social-icon"><i class="fa fa-facebook"></i></a> <a href="#" class="btn-social-icon"><i class="fa fa-twitter"></i></a> <a href="#" class="btn-social-icon"><i class="fa fa-google-plus"></i></a>
                                        <a href="#" class="btn-social-icon" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-user">Login</i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- header-section-->
                    <div class="header">
                        <div class="row">
                            <div class="col-xl-3 col-lg-2 col-md-3 col-sm-3 col-12">
                                <div class="navbar-citylogo" > 
                                    <a href="/home"><img src="landing/images/logo2.png" alt="">
                                </a> </div>
                            </div>
                            <div class="col-xl-9 col-lg-10 col-md-9 col-sm-12 col-12">
                                <!-- navigations-->
                                <div class="navigation">
                                    <div id="navigation">
                                        <ul>
                                            <li class="active"><a href="index.html"><img src="landing/images/home.png" alt="">   Home</a></li>
                                            <li class="has-sub"><a href="#"><img src="landing/images/project.png" alt="">   Projects/Programs</a>
                                                <ul>
                                                    <li><a href="#">Open Application</a></li>
                                                    <li><a href="#">Finished Projects</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="contact-us.html"><img src="landing/images/email.png" alt="">   Contact</a></li>
                                            <li class="active"><a href="#about-section"><img src="landing/images/about.png" alt="">   About</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /.navigations-->
                            </div>
                        </div>
                    </div>
            </div>
            <!-- /. header-section-->
            <!-- slider -->
            <div class="slider">
                <div class="owl-carousel owl-one owl-theme">
                    <!-- item -->
                    <div class="item">
                        <div class="slider-img">
                            <img src="landing/images/slider_1.jpg" alt=""></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                    <div class="slider-captions">
                                        <h1 class="slider-title" >City Projects Application and Releasing of Benefits</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.item -->
                    <!-- item -->
                    <div class="item">
                        <div class="slider-img"><img src="landing/images/slider_2.jpg" alt=""></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                    <div class="slider-captions">
                                        <h1 class="slider-title" >Know the projects and programs inside your community.</h1>
                                        <a href="#" class="btn btn-primary">Learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.item -->
                </div>
            </div>
            <!-- /.slider -->

            <div style="padding-top:40px;">
                <div class="container">
                <section style="background-color: #white; padding-top: 40px; padding-bottom:40px;">
                    <div class="row ">

                    <div class="overlayimage_container">
                        <div style="padding-left:57px;">
                            <img src="landing/images/projects.png" alt="" class="image_hover">
                            <div class="overlayimage">
                            <img src="landing/images/ongoing_projects.jpg" alt="" >
                                <h1 class="texthover mb-5" style="color:#3B5997">Projects</h1>
                                <p class="texthover mt-5 pt-5 ml-5"><br><br><br><br>The municipality has different projects that helps the community. Residents are <br>pursue to apply for the projects. Registration for the projects are free and easy. <br>Just follow this steps:<br><br> First, you just need to know what projects are open and projects that you <br>are qualified. Compile all the requirement for the chosen project then go to you<br> respective barangay to register for the project.</p>
                                <div class="texthoverlink">
                                    <a href="#" class="btn-linkhover">Ongoing <br>project<i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    </section>
                    
                </div>
            </div>

            <section class="about-section border border-round" style="background-color: #AFCEE3">
            <!-- /.destination-section -->
            <!-- about-section -->
            <div class="space-small ">
                <div class="container">
                    <!-- about-head -->
                    
                    <div class="row" style="">
                        <div class="tour-img clearfix col-xs-3 d-inline">
                        <img class="img-responsive pull-left img-fluid" style="height:35%; width:30%" src="landing/images/mission.png" alt="">
                           <p class="lead pt-5" >Isang lungsod na sentro ang Diyos, mapanagutan, matatag at namumuhay sa isang ligtas at planadong lipunan, likas-kaya at mapayapang kapaligiran na nagtataguyod ng maugnaying paglago ng ekonomiya tungo sa global na kakayahan, sa ilalim ng isang pamunuan na bisyonaryo, dinamiko at makaaktibo.</p>
                        </div>
                    </div>
                    <div class="row" style="">
                        <div class="tour-img clearfix col-xs-3 d-inline">
                            <img class="img-responsive pull-left img-fluid" style="height:35%; width:30%" src="landing/images/vision.png" alt="">   
                            <p class="lead pt-5">Layunin ng Pamahalaang Lungsod Mandaluyong ang tuluyang pagsasagawa ng mabisang pamamahala, sa pangangasiwa ng panlipunang paglilingkod, pagpapaunlad ng kabuhayan at pamamahala sa kapaligiran at ikintal sa mamamayan ang kahalagahan ng kolektibong pagkilos at pagpapanatili sa kakayahan tungo sa pagsasarili at likas-kayang kaunlaran.</p>
                        </div>
                    
                    <!-- /.about-head -->
                    <div class="row pt-5">
                        <!-- feature-section -->
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                            <div class="well-block">
                                <!-- feature-left -->
                                <div class="feature-left d-inline">
                                    <div class="counter-content">
                                        <div class="feature-icon"><img src="landing/images/sched.png" alt=""></div>
                                        <br><h4>Everything’s on Schedule</h4>
                                        <p style="color:grey">The releasing of benefits are on schedule</p>
                                    </div>
                                </div>
                                <!-- /.feature-left -->
                                <!-- feature-left -->
                                <div class="feature-left">
                                    <div class="counter-content pt-4">
                                        <div class="feature-icon"><img src="landing/images/problem.png" alt=""></div>
                                        <br><h4>Open for problems and suggestions</h4>
                                        <p style="color:grey">Problems of each barangay can be heard easily</p>
                                    </div>
                                </div>
                                <!-- /.feature-left -->
                                <!-- feature-left -->

                                <!-- /.feature-left -->
                            </div>
                        </div>
                        <!-- /.feature-section -->
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                            <div class="well-block">
                                <!-- feature-left -->
                                <div class="feature-left d-inline">
                                    <div class="counter-content">
                                        <div class="feature-icon"><img src="landing/images/curriculum.png" alt=""></div>   
                                        <br><h4>Beneficiary application</h4>
                                        <p style="color:grey">Residents can easily apply on their respective barangay.</p>
                                    </div>
                                </div>
                                <div class="counter-block">
                                    <div class="feature-left d-inline">
                                    <div class="counter-content pt-4">
                                        <div class="feature-icon"><img src="landing/images/refresh.png" alt=""></div> 
                                        <br><h4>Updated</h4><br>
                                        <p style="color:grey"   >Every newly or edited projects are posted.</p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </section>
            <!-- /.about-section -->
            
            <div class="container border rounded border-dark" style="margin-top: 60px; background-color: #F0FFFF;">
                <h3 class=" pt-4 pl-1" style="color: #3B5997">DROP A MESSAGE</h3>
                <div class="container pl-3">
                <form class="form-inline">
                    <div class="col-5 border rounded border-dark bg-light">
                        <input type="email" class="form-control-sm" id="email" aria-describedby="emailHelp" placeholder="Enter E-mail Address">
                    </div>
                    <div class="col-5 border rounded border-dark bg-light ml-5">
                        <input type="text" class="form-control-sm" id="email" aria-describedby="namehelp" placeholder="Enter Name">
                    </div>
                    <div class="col-8 border rounded border-dark bg-light mt-2">
                        <input type="text" class="form-control-sm" id="subj" aria-describedby="namehelp" placeholder="Enter Subject*">
                    </div>
                    <div class="mt-2 text-area">
                        <textarea class="form-control bg-light border-dark" id="message" cols="111" rows="10" placeholder="Message"></textarea>
                    </div>
                    <div class="mt-2 ">
                        <input class="btn btn-primary" type="submit" value="Submit">
                    </div>
                </form>
                </div>
            </div>
            

            <!-- /.client-section -->
            <div class="space-small">
                <div class="container">
                    <div class="row">
                        <!-- client-logo -->
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                            <div class="client-logo">
                                <a href="#"><img src="./images/dummy_logo_1.png" alt=""></a>
                            </div>
                        </div>
                        <!-- /.client-logo -->
                        <!-- client-logo -->
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                            <div class="client-logo">
                                <a href="#"> <img src="./images/dummy_logo_2.png" alt=""></a>
                            </div>
                        </div>
                        <!-- /.client-logo -->
                        <!-- client-logo -->
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                            <div class="client-logo">
                                <a href="#">  <img src="./images/dummy_logo_3.png" alt=""></a>
                            </div>
                        </div>
                        <!-- /.client-logo -->
                        <!-- client-logo -->
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                            <div class="client-logo">
                                <a href="#"><img src="./images/dummy_logo_4.png" alt=""></a>
                            </div>
                        </div>
                        <!-- /.client-logo -->
                        <!-- client-logo -->
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                            <div class="client-logo">
                                <a href="#"> <img src="./images/dummy_logo_2.png" alt=""></a>
                            </div>
                        </div>
                        <!-- /.client-logo -->
                        <!-- client-logo -->
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                            <div class="client-logo">
                                <a href="#">  <img src="./images/dummy_logo_1.png" alt=""></a>
                            </div>
                        </div>
                        <!-- /.client-logo -->
                    </div>
                </div>
            </div>
            <!-- /.client-section -->
            <!-- footer -->
            
            <!-- /.footer -->

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h3 style="display:inline;">Sign in to your Account</h3><a data-dismiss="modal" style="display:inline;" class="float-right">X</a>
                            <hr class="style9" style="margin-bottom:5%;margin-top:3%;">
                            <form action="/home" method="POST">
                                <div class="card">
                                    <div class="card-body" >
                                        <i class="fa fa-address-card-o" style="font-size:30px;margin-right:2%;"></i> Email Address: <input style="width:65%;margin-bottom:3%;" type="email" name="user_email" value="" required/>
                                        <br>
                                        <i class="fa fa-lock" style="font-size:30px;margin-left:2%;margin-right:4%;"></i> Password: <input style="width:70%;margin-left:1%;" type="password" name="user_password" value="" required/>
                                    </div>
                                </div>
                                <button name="submit" class="btn btn-primary float-right" style="margin-top:3%;" value="submit">Login
                            </form>
                        </div>
                    </div>
                </div>
            </div>
             <div class="" >
                <div class="container contfooter">
                    <div class="row " >
                        <!-- footer-logo -->
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12 ">
                            <div class="ft-img"><img src="./images/ft_logo.png" alt=""></div>
                        </div>
                        
                        <!-- /.footer-logo -->
                        <!-- footer-links -->
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12 ">
                            <div class="footer-widget ">
                                <h3 class="footer-title " style="color: #3B5997;font-weight: 750; padding-top:15px;">Quick Links</h3>
                                <ul class="angle list-none">
                                    <li><a href="# " style="color: white">Home</a></li>
                                    <li><a href="# " style="color: white">Open Projects</a></li>
                                    <li><a href="# " style="color: white">Finished Projects</a></li>
                                    <li><a href="# " style="color: white">Contact</a></li>
                                    <li><a href="# " style="color: white">About</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.footer-links -->
                        
                        <!-- footer-post -->
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 ">
                            <div class="footer-widget">
                                <h3 class="footer-title" style="color: #3B5997;font-weight: 750; padding-top:15px;">Contact Info </h3>
                                <div class="ft-contact-info"> <span class="ft-contact-icon"><i class="fa fa-map-marker"></i></span> <span class="ft-contact-text" style="color: white">Municipal Address</span></div>
                                <div class="ft-contact-info"> <span class="ft-contact-icon"><i class="fa fa-phone "></i></span> <span class="ft-contact-text" style="color: white">+180-123-4567</span></div>
                                <div class="ft-contact-info"> <span class="ft-contact-icon"><i class="fa fa-envelope "></i></span> <span class="ft-contact-text" style="color: white">municipal.address@gmail.com</span></div>
                                <div class="social-icon"> <a href="# " class="btn-social-icon "><i class="fa fa-facebook "></i></a> <a href="# " class="btn-social-icon "><i class="fa fa-twitter "></i></a> <a href="# " class="btn-social-icon "><i class="fa fa-linkedin "></i></a> <a href="# " class="btn-social-icon "><i class="fa fa-google-plus "></i></a> </div>
                            </div>
                        </div>
                        <!-- /.footer-post -->
                    </div>
                    <!-- tiny-footer -->
                </div>
                
                </div>
            </div>

            
            <!-- /.Modal -->
            <a href="javascript:" id="return-to-top"><i class="fa fa-angle-up"></i></a>
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="landing/js/jquery.min.js"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="landing/js/bootstrap.min.js"></script>
            <script src="landing/js/menumaker.js"></script>
            <script src="landing/js/jquery.sticky.js"></script>
            <script src="landing/js/sticky-header.js"></script>
            <script src="landing/js/owl.carousel.min.js"></script>
            <script src="landing/js/multiple-carousel.js"></script>
            <script src="landing/js/jquery-ui.js"></script>
            <script src="landing/js/date.js"></script>
            <script src="landing/js/return-to-top.js"></script>
        </div>