extends ../../../templates/master.pug

block body
    //- assets
    <link href="/mahoganylanding/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/mahoganylanding/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/mahoganylanding/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="/mahoganylanding/css/creative.min.css" rel="stylesheet">

    //- nav
    <nav class="navbar navbar-expand-lg sticky-top" style="background-color:whitesmoke;">
        <a class="navbar-brand" href="/home">
            <img src="/mahoganylanding/img/logo.png" width="40" height="35" class="d-inline-block align-top" alt="irregular please icon"> <a class="navbar-brand js-scroll-trigger" href="/home"><b>Mahogany <small>Daycare Center</b></small></a></a>
            <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-uppercase" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/home#about"><b>About</b></a>
                </li>
                <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/home#services"><b>Services</b></a>
                </li>
                <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/home#portfolio"><b>Gallery</b></a>
                </li>
                <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/home#contact"><b>Contact</b></a>
                </li>
                <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#"data-toggle="modal" data-target="#myModal"><b>Login</b></a>
                </li>
            </ul>
            </div>
            </div>
    </nav>

    <header class="masthead1 text-center text-white d-flex">
        <div class="container my-auto">
            <div class="row">
            <div class="col-lg-10 mx-auto" style="margin-top=10%;">
                <div class="card">
                <h5 class="card-header" style="color:black;"><b>REGISTER AS: Parent who wants to enroll their children.</b></h5>
                <div class="card-body">
                    <h5 style="color:black;" class="text-uppercase"> Registration Form</h5>
                    <hr>
                    <br>
                        <form method="POST" action="/signup/2" style="color:black;">
                            <h5 class="float-left">• Parent's:</h5>
                            <br>
                            <div class="row" >
                            <div class="col-sm-4 form-group" >
                            <label style="font-size:18;">*First Name</label>
                                <input type="text" placeholder="First Name" class="form-control" name="parent_fname" required>
                            </div>
                            <div class="col-sm-4 form-group">
                            <label style="font-size:18;">*Last Name</label>
                                <input type="text" placeholder="Surname" class="form-control" name="parent_lname" required>
                            </div>
                            <div class="col-sm-4 form-group">
                            <label style="font-size:18;">Middle Name</label>
                                <input type="text" placeholder="Middle Name" class="form-control" name="parent_mname">
                            </div>
                            </div>					
                            <div class="form-group">
                            <label style="font-size:18;" class="float-left">*Address</label>
                                <textarea placeholder="Enter Address Here.." rows="2" class="form-control" name="user_address" required></textarea>
                            <br>
                            <div class="row">
                            <div class="col-sm-6 form-group">
                            <label style="font-size:18;" class="float-left">*Email Address</label>
                                <input type="email" placeholder="Email Address" class="form-control" name="user_email" required>
                            </div>
                            <div class="col-sm-6 form-group">
                            <label style="font-size:18;" class="float-left">*Password</label>
                                <input type="password" placeholder="Password" class="form-control"name="user_password" required>
                            </div>
                            <div class="col-sm-7 form-group">
                            <label style="font-size:18;" class="float-left">*Phone Number <small>(ex. 0938*******)</small></label>
                                <input type="text" placeholder="09*********" class="form-control"name="user_contact" required>
                            </div>
                            </div>
                            <center><p><small>This will serve as your login details (email and password). Please kindly save it. Thank You!</small></p>
                            <br>
                            <hr>
                            <br>
                            //- Children
                            <h5 class="float-left">• Chidren's:</h5>
                            <br>
                            <div class="row" >
                            <div class="col-sm-4 form-group" >
                            <label style="font-size:18;">*First Name</label>
                                <input type="text" placeholder="First Name" class="form-control" name="student_fname" required>
                            </div>
                            <div class="col-sm-4 form-group">
                            <label style="font-size:18;">*Last Name</label>
                                <input type="text" placeholder="Surname" class="form-control" name="student_lname" required>
                            </div>
                            <div class="col-sm-4 form-group">
                            <label style="font-size:18;">Middle Name</label>
                                <input type="text" placeholder="Middle Name" class="form-control" name="student_mname">
                            </div>
                            </div>					
                            <div class="form-group">
                            <div class="row">
                            <div class="col-sm-6 form-group">
                            <label style="font-size:18;" class="float-left">*Birthdate <small> <u>(Year-Month-Date) 20xx-12-01 </u></small></label>
                               <input id="meeting" type="date" name="student_birthday" required/>
                            </div>
                            <div class="col-sm-6 form-group">
                            <label style="font-size:18;" class="float-left">*Level <small>(What level do you want to enroll your child?)</small></label>
                                <select required id="studentlevel" class="form-control col-sm-8" name="student_level">
                                <option disabled="disabled" selected="selected" value="">Choose...</option>
                                <option value="Nursery">Nursery</option>
                                <option value="Pre-kinder">Pre-kinder</option>
                                <option value="Kinder">Kinder</option>
                            </select>
                            </div>
                            <div class="col-sm-6 form-group">
                            <label style="font-size:18;" class="float-left">*Gender <small></small></label>
                                <select required id="studentgender" class="form-control col-sm-8" name="student_gender">
                                <option disabled="disabled" selected="selected" value="">Choose...</option>
                                <option value="Female">Female</option>
                                <option value="Male">Male</option>
                            </select>
                            </div>
                            </div>
                    <button type="submit" class="btn btn-deep-orange" style="background-color:#FF7F50;color:white;">Submit</button>	
                    </form>				
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </header>

    //- Modal Login
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" style="filter: opacity(88%);">
            <div class="modal-content">
                <div class="modal-header">
                <img rel="image" src="/icons/login.png" style="width:40px;height:40px;">&nbsp;
                <h4 style="color:black;">Login:</h4>
                <button type="button" class="close" data-dismiss="modal">x</button>
            </div>
            <div class="modal-body">
                <form method="POST" action='home' name="login_form">
                    <div class="form-group">
                    <p>&nbsp;<i class="fa fa-id-card fa-2x" aria-hidden="true" ></i>&nbsp;&nbsp;<input type="email" name="user_email" id="modalstudno" class="form-control float-right col-md-10" placeholder="Email Address (ex. qwerty@gmail.com)" required></p>
                    </div>
                    <p>&nbsp;&nbsp; <i class="fa fa-unlock-alt fa-2x" aria-hidden="true"></i>&nbsp; &nbsp;<input type="password" name="user_password" id="modalemail" class="form-control float-right col-md-10" placeholder="Password" size=33 required></p>
                    <p><button type="submit" id="modalbutton" class="btn btn-primary float-right" position="right" style="background-color:##FF7F50;color:whitesmoke;border:none;">Sign in</button></p>
                </form>
            </br>
            </br>
            </div>
            <div class="modal-footer float-right"><small>Don't have an account yet?</small> <a href="/signup" class="Register" style="color:#FF7F50;">  Register Here!</a>
            </div>  
                </div>
                
            </div>
        </div>
    </div>